main {display: block}
.tab > ul{display:flex; position:relative; }
.tab > ul > li.on {z-index: 2;}
.tab > ul > li ul {display: none;}
.tab > ul > li ul button{position:relative;}
.tab > ul > li.on ul {display: flex;}
.tab > ul > li.on > button {position: relative; }
.tab content {display: none;}
.tab content.on {display: block;}
.tab content.on > .on {display: block;}
.tab content.on > div {display: none;}