
.all-content{
	width: 1000px;
	margin: 0 auto;
}

/* 탭 */
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
    background:#009591;
}
ul.tabs li{
	background: none;
	color: white;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: white;
	color: #009591;
}

.tab-content{
	display: none;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}