@charset "utf-8";

@import url("../common.css");
@import url("../reset.css");

html, body{width:100%;height:100%;/*position:relative;*/}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #f0fefe inset;}

/*Layout*/
#wrap { position:relative;overflow-y:auto;overflow-x:hidden;height:100%;min-width:1024px;}
#container{position:relative;width:100%;min-height:calc(100% - 240px);} 
#contents{position:relative;width:100%;margin:0 auto; overflow-y:auto;overflow-x:hidden; max-width:1140px;padding:40px 20px 100px 20px;min-height:600px;}

/*box type*/
#contents > .section_box:first-child,
#contents > .section_box0:first-child,
#contents > .section_box1:first-child,
#contents > .section_box2:first-child,
#contents > .section_box3:first-child,
#contents > .section_box4:first-child,
#contents > .section_box5:first-child,
#contents > .section_box6:first-child,
#contents > .section_box7:first-child,
#contents > .tab1_group:first-child,
#contents > .section_box100:first-child{margin-top:0 !important;}

/*보상처리절차*/
.newstep_arr3 {display:block; overflow:hidden; width:100%; margin:38px 0 20px 0;}
.newstep_arr3 > li {position:relative; float:left; width:22%; margin-right:4%; padding-top:23px; min-height:370px; border:solid 1px #ddd; text-align:center; font-size:15px; color:#656565;}
.newstep_arr3 .num{text-align:center; font-weight:500; font-size:24px; color:#009591; margin:0 auto; padding:8px 0; margin-bottom:15px;}
.newstep_arr3 .num strong{font-size:24px; color:#323333;}
.newstep_arr3 .txt{margin:145px 8% 0 8%; padding:15px 0 26px 0; border-top:1px dashed #ddd; text-align:left; letter-spacing:-1px}
.newstep_arr3 .btn{width:182px; text-align:center; padding-left:0; padding-right:0;}
.newstep_arr3 li:before{position:absolute;content:'';display:block;right:-30px;top:50%;margin-top:-14px;width:17px;height:28px;background-repeat:no-repeat;background-position: right top;background-image:url("../../images/claimImg/icon_blue_round_right_arr.png");}

.newstep_arr3.health .num{height:83px}
.newstep_arr3.health .txt{letter-spacing:-0.08em;}
.newstep_arr3.health li{min-height:460px; box-sizing:border-box;}
.newstep_arr3.health li:nth-child(1){background:url("../../images/claimImg/icon_reward_01.png") no-repeat center 110px;}
.newstep_arr3.health li:nth-child(2){background:url("../../images/claimImg/icon_reward_02.png") no-repeat center 110px;}
.newstep_arr3.health li:nth-child(3){background:url("../../images/claimImg/icon_reward_03.png") no-repeat center 110px;}
.newstep_arr3.health li:nth-child(4){background:url("../../images/claimImg/icon_reward_04.png") no-repeat center 110px;}

.notice_list {overflow:hidden; margin:40px 0 0 0; padding:30px 28px; border:1px solid #dddddd; background:#f9f9f9;}
.notice_list >  strong {display:block; padding:0 0 20px 23px; font-size:15px; color:#222222; background:url("../img/common/icon_point_mark.png") no-repeat 0 2px;}
.notice_list >  div > strong {padding:0 0 0 10px;  font-weight:700;}
.notice_list >  div > strong::before {position:absolute;content:"·";top: 1px;left:-1px;}
.notice_list ul > li {margin:0 0 2px 10px}

/*전자 민원신청 */
.box_area_02 {overflow:hidden; padding:30px 0 15px 35px; background:#f9f9fb;}
.box_area_02 .txt_01 em {margin:0 20px 0 0;color:#040000; font-size:24px;}
.box_area_02 .txt_01 a {margin:0 10px 0 0; /*background:#009591; color:#fff;*/}
.box_area_02 .txt_01 a:after {color:#fff;}
.box_area_02 .txt_01 a:hover ,.box_area_02 .txt_01 a:focus {border-color:#007e7b;background-color:#007e7b;color:#fff;}
.box_area_02 ul {overflow:hidden; margin:28px 0 0 0;}
.box_area_02 ul li {float:left; width:calc((100% - 3%) / 3 ) ;height:110px; margin:0 0px 30px 1%; font-size:16px;}
.box_area_02 ul li:first-child {margin:0 0 30px 0px;}
.box_area_02.reward ul li {width:calc((100% - 90px) / 2 ) ; height:120px;  margin:0 35px 30px 0;}

/*보상 처리절차*/
.box_area_02.reward ul.txt_list_01 li{height:120px; margin-bottom:17px;}
.box_area_02.reward ul.txt_list_01 li:nth-child(3),
.box_area_02.reward ul.txt_list_01 li:nth-child(4){height:68px; margin-bottom:25px;}
.box_area_02.reward ul.txt_list_01 li>p{padding-left:10px;position: relative;}
.box_area_02.reward ul.txt_list_01 li>p:before{content:"-";position: absolute;top: 0;left: 0;}
.box_area_02.reward ul.txt_list_01 li>p font{background: linear-gradient(to top, #2cb26a30 20%, transparent 0)}
.box_area_02.reward ul.txt_list_01 li>p.fax{display: block;font-size: 18px;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;padding-left: 22px;line-height: 1.5}
.box_area_02.reward ul.txt_list_01 li>p.fax:before{content:"\f1ac";position: absolute;top: 6px;left: 0;font: normal normal normal 17px/1 FontAwesome;}


@media all and (max-width:1100px){
    #contents{padding:20px 20px 100px 20px;}}

@media all and (max-width:1389px){
#contents.wide_area:before {padding-left:1px;}}

/*아래의 설정 1390px이상일때... (회색선라인) & (아이콘)*/
#contents.wide_area:before {padding-left:121px;}

/***** product *****/
#contents.wide_area {max-width:none;padding:0;position:relative;}
#contents.wide_area:before {content:'';display:block;max-width:1128px;width:100%;height:100%;position:absolute;left:50%;transform:translateX(-50%);border-left:1px solid #e3e4e8;}

#contents.wide_area.car {max-width:none;padding:0;position:relative;}
#contents.wide_area.car:before {content:'';display:block;max-width:1128px;width:100%;height:100%;position:absolute;left:50%;transform:translateX(-50%);border-left:1px solid #e3e4e8;}
#contents.wide_area.car:before {padding-left:261px;}