@charset "utf-8";

@import url("../common.css");
@import url("../reset.css");

#contents{
  width:75%;
  margin: 0 auto;
}

#contents h3 {
  font-size: 24px;
}

.title {
  padding: 40px 0 15px;
  background-image: url(../../images/claimImg/visual_healthReward_bg.jpg);
  margin-bottom: 25px;
}

.title h2 {
  font-size: 32px;
  color: #000;
}

.title > p {
  font-size: 14px;
}

.tab_container {
  margin: 0 auto;
}

.tab_container > h3{
  color: #000;
}

/* tabs */
ul.tabs {
  margin: 0px;
  padding: 0px;
  margin-top: 40px;
  display: flex;
}

ul.tabs li {
  background: none;
  color: #555;
  background-color: #f2f2f2;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
  flex-grow: 1;
  text-align: center;
  margin-bottom: 40px;
}

ul.tabs li.current {
  background: #009591;
  color: #fff;
}

/* tab contents */
.tab-content {
  display: none;
  padding-top: 15px;
  margin-bottom: 70px;
}

.tab-content.current {
  display: inherit;
}

.tab_container .table .table_title ul {
  list-style: none;
  display: flex;
  background: #f0f0f0;
  padding: 15px 0;
  border-top: #555 2px solid;
}

.tab_container .table .table_title li {
  float: left;
  flex-grow: 1;
  text-align: center;
  color:#333;
  font-weight: 500;
  font-size: 15px;
}

.table .table_contents {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}

.table .table_contents .processing{
  width: 50%;
  margin-top: 8px;
}

.processing_contents li {
  padding: 2px 12px;
  cursor:pointer;
  color: #555;
  font-size: 14px;
  height: auto;
  line-height: 30px;
  display: block;
  overflow: hidden;
}

.processing_contents li.clicked{
  background-color: #28B2A5;
  color: #fff;
}

.table .demage_contents {
  display: flex;
  flex-direction: column;
  padding: 2px 12px;
  margin-top: 8px;
}

.table .demage_contents label {
  padding: 4px 6px 4px 0;
  cursor:pointer;
  color: #555;
  font-size: 14px;
  height: auto;
  line-height: 26px;
  display: block;
  overflow: hidden;
}

.table .demage_contents .checkboxImage {
  width: auto; 
  height: auto;
  margin-right: 10px;
  margin-top: 4px;
}

.document h3 {
  color: #333;
}

.document .commonDocument table {
  border-top: 1px solid #009591;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 70px;
}

.document .commonDocument th {
  border: 1px solid #e5e5e5;
  color: #333333;
  padding: 15px;
  background-color: #f9f9fb;
}

.document .commonDocument td{
  border: 1px solid #e5e5e5;
  color: #555555;
  padding: 15px;
}