@import url('/src/css/reset.css');
@import url('/src/css/common.css');
@import url('/src/css/default.css');

/*** ria_box ***/
.ria_box .flipster {overflow:hidden;}
/* ria_box layout */
.ria_box {height:100%;width:100%;position:fixed;top:0;bottom:0;left:0;right:0;z-index:20000;font-family: 'Roboto','Noto Sans KR';}
.blur {filter:blur(3px);}
.ria_box:before {content:"";width:100%;height:100%;background:url("/src/images/calImg/bg_ria.jpg") no-repeat;background-size:cover;position:absolute;bottom:0;}
.ria_box.ria_car:before {background:url("/src/images/calImg/bg_ria_car.jpg") no-repeat;background-size:cover;}

.ria_box:after {content:"";width:100%;height:132px;background:linear-gradient(90deg, #009591 56.5%, #009591 0);background-color:#009591;position:absolute;top:0;z-index:1;}
.ria_box.ria_change:after {content:"";width:100%;height:132px;background:linear-gradient(90deg, #3f4656 56.5%, #2b3349 0);background-color:#009591;position:absolute;top:0;z-index:1;}
.ria_box .ria_container {width:1200px;position:absolute;top:0;left:50%;transform:translate(-50%,0);background:#fff;z-index:2;}
.ria_box .ria_header {height:50px;background-color:#009591;}
.ria_box.ria_change .ria_header {height:50px;background-color:#3f4656;background-image:url("../img/bg_header_change.jpg"), linear-gradient(90deg, #3f4656 60%, #2b3349 0);background-position:60% top;background-repeat:no-repeat;}
.ria_box .ria_header:after {content:"";clear:both;display:table;}
.ria_box .ria_header .ria_logo {float:left;}
.ria_box .ria_header .ria_logo:after {content:"";clear:both;display:table;}
.ria_box .ria_header .ria_logo a {float:left;margin-top:11px;}
.ria_box .ria_header .ria_logo h1 {float:left;font-weight:400;font-size:13px;color:#fff;line-height:50px;padding-left:15px;position:relative;}
.ria_box .ria_header .ria_logo h1:before {content:"";width:1px;height:11px;background:#dcdfe5;position:absolute;top:19px;left:6px;}
.ria_box .ria_header .ria_info {float:right;font-family: 'NOTO SANS KR';}
.ria_box .ria_header .ria_info .ria_login {float:left;}
.ria_box .ria_header .ria_info .ria_login span {font-weight:500;font-size:14px;color:#fff;line-height:50px;}
.ria_box .ria_header .ria_info .ria_login .ria_ltime {position:relative;padding-left:29px;}
.ria_box .ria_header .ria_info .ria_login .ria_ltime:before {content:"";width:18px;height:16px;background:url("/src/images/calImg/icon_clock.png") no-repeat;position:absolute;top:2px;left:7px;}
.ria_box .ria_header .ria_info .ria_bgroup {float:left;padding-top:10px;margin-left:15px;}
.ria_box .ria_header .ria_info .ria_bgroup .btn_ria1 {float:left;display:block;padding:4px 10px 5px;border:1px solid #b9e2e1;font-weight:400;font-size:13px;color:#fff;margin-left:5px;text-decoration:none;} /*2019-02-15 underline 고객요구사항반영*/
.ria_box .ria_header .ria_info .ria_bgroup .btn_ria1.icon_door {position:relative;padding-right:32px;}
.ria_box .ria_header .ria_info .ria_bgroup .btn_ria1.icon_door:after {content:"";width:11px;height:13px;background:url("/src/images/calImg/icon_door.png") no-repeat;position:absolute;top:8px;right:10px;}
.ria_box .ria_body {background:#fff;padding:0 50px 60px;max-height:800px;border-bottom:10px solid #009591;}

.ria_box .ria_body .ria_title {}
.ria_box .ria_body .ria_title:after {content:"";clear:both;display:table;}
.ria_box .ria_body .ria_title h2 {float:left;font-weight:500;font-size:30px;color:#222;line-height:82px;height:82px;}

.dimmed{background:rgba(0,0,0,0.6);}

.ria_box .result_box {overflow:hidden;}
.ria_box .result_box:after {content:"";clear:both;display:table;}
.ria_box .result_box .result_left {float:left;width:calc(100% - 316px);}

.ria_box .result_box .result_right {float:right;width:296px;height:644px;margin-left:20px;position:relative;}
.ria_box .result_box .result_sum_box {}
.ria_box .result_box .result_sum_box .result_sum_title {text-align:right;}
.ria_box .result_box .result_sum_box .result_sum_title h3 {background:#363a45;padding:20px 20px;font-weight:400;font-size:16px;color:#fff;}
.ria_box .result_box .result_sum_box .result_sum_title h3 .r_box {display:block;}
.ria_box .result_box .result_sum_box .result_sum_title h3 strong {font-family:'roboto';font-weight:bold;font-size:36px;color:#ed1651;text-align:right;margin-top:13px; font-weight:normal}
.ria_box .result_box .result_sum_box .result_sum_title .msg_result {background:#2d303a;padding:10px 0;border-top:1px solid #474c59;text-align:center;font-weight:400;font-size:13px;color:#a2c4e1;}
.ria_box .result_box .result_sum_box .result_sum_title .msg_result:before {content:"";width:18px;height:18px;background:url("../img/icon_msgresult.png") no-repeat;display:inline-block;vertical-align:-3px;margin-right:5px;}
.ria_box .result_box .result_sum_box .result_sum_title .msg_price {background:#2d303a;padding:10px 20px;border-top:1px solid #474c59;text-align:left;font-weight:400;font-size:16px;color:#f0f9f8;}

.ria_box .result_box .result_layer_type {position:relative;padding:20px 20px 73px 20px;border-top:1px solid #474c59;border-bottom:1px solid #474c59;background-color:#2d303a;color:#fff;}
.ria_box .result_box .result_layer_type .r_title {font-size:16px;font-weight:400;}
.ria_box .result_box .result_layer_type .text {color:#a2c4e1;font-size:16px;}
.ria_box .result_box .result_layer_type .btn {position:absolute;right:20px;bottom:15px;min-width:70px;}
.ria_box .result_box .result_layer_type .result_layer {display:none;  position:absolute;  left:0;  right:0;  bottom:-100%;  z-index:5;  padding-bottom:50px;  background-color:#2d303a;}
.ria_box .result_box .result_layer_type .result_layer {bottom: 2px;}
.ria_box .result_box .result_layer_type .result_layer dl {overflow:hidden;  margin-top:-5px;  padding:15px 20px;  line-height:34px;}
.ria_box .result_box .result_layer_type .result_layer dl dt {clear:both;  float:left;  margin-top:5px;}
.ria_box .result_box .result_layer_type .result_layer dl dd {float:left;  margin:5px 0 0 3px;}
.ria_box .result_box .msg_list {background:#2d303a;padding:15px 20px;color:#fff;}

.ria_box .result_box.type3 {position: absolute;  left: 0;  right: 0;  top: 0px;  bottom: 0;}
.ria_box .result_left.mCustomScrollbar {position:absolute;  left:0;  right:316px;  top:0;  bottom:0;}
.ria_box .result_pos_right {position:absolute;  right:0;  top:4px;  bottom:4px;  width:296px;}
.ria_box .result_box .result_pos_right .result_sum_box {margin-top:0;}

/* 인트로 페이지관련  */

.ria_box .ria_body .ria_content.fixed {position:relative;height:682px;overflow:hidden;}

.ria_sub{font-size: 20px; position: absolute;line-height: 87px; margin-left: 155px;}
.ria_box .result_pos_right.fixed{position: relative;right: 0;top: 0;bottom: 0;width: 100%;}  
.ria_box .result_box .result_left.fixed {float:left;width:100%;margin-top: 20px;}
.ria_box .result_box .msg_list.fixed {background: #363a45;width: 273px;margin-left: 432px;border-right: 1.5px solid #474c59;border-left: 1.5px solid #474c59;height: 100px;padding: 28px 0 0 34px;}
.ria_box .result_box .result_layer_type.fixed {position:relative;padding: 50px 20px 48px 20px;border-top: 1px solid #2d303a;border-bottom: 1px solid #2d303a;background-color: #2d303a;color:#fff;width: 432px;margin-left: 0px;float: left;}
.ria_box .result_box .result_sum_box .result_sum_title.fixed {text-align:right;width: 395px;position: absolute;right: 0;top: 0;}
.ria_box .result_box .result_sum_box .result_sum_title.fixed h3 {background: #2d303a;padding:20px 20px;font-weight:400;font-size:16px;color:#fff;height:60px;}
.ria_box .result_box .result_sum_box .result_sum_title .msg_price.fixed{background: #1b1d25;padding: 8px 20px 8px;border-top: 1px solid #474c59;text-align:left;font-weight:400;font-size:16px;color:#f0f9f8;}

.ria_box input.ria_years[type=radio]{display:inline-block;position:absolute;left:-9999px}
.ria_box input.ria_years[type=radio]+label{min-width:90px;border:1px solid #9d9d9d;background:#fff;padding:3px 0;font-weight:400;font-size:14px;color:#555;line-height:27px;text-align:center;margin: 0 6px 0 0;}
.ria_box input.ria_years[type=radio]+label:before{content:"";display:inline-block;width:calc(100% - 2px);height:4px;background:#fff;position:absolute;top:auto;bottom:1px;left:1px;}
.ria_box input.ria_years[type=radio]:checked+label{border:1px solid #007e7b;background:#009591;color:#fff;}
.ria_box input.ria_years[type=radio]:checked+label:before{content:"";display:inline-block;width:100%;height:4px;background:#007e7b;position:absolute;top:auto;bottom:0;left:0;}
.ria_box input.ria_years[type=radio]:checked:disabled+label:before{content:"";display:inline-block;width:20px;height:20px;position:absolute;left:0;}
.ria_box input.ria_years[type=radio]:disabled+label:before{display:none;}
.ria_box input.ria_years.style1[type=radio]+label {padding:8px 0;display:block;width:90px;float:left;margin-left:0px;}

.h85{height: 85px !important;}
.p_price{font-size:20px;color:#666;font-family: 'Roboto';}
.p_txt{font-size:15px;color:#666}

.ria_box .ria_qmark {display:inline-block;width:18px;height:18px;background:url("/src/images/calImg/icon_qmark.png") no-repeat;margin-left:3px;vertical-align:-3px;cursor:pointer;position:relative;border:0;}
.ria_box .ria_qmark:hover .ria_tooltip {display:block;}
.ria_box .ria_qmark.alink {cursor:pointer;}

/* text */
.ria_box input[type=text],.ria_box input[type=password] {border:1px solid #b9b9b9;height:44px;font-size:15px;color:#555;padding:0 10px;max-width:100%;}
.ria_box input[type=text].readonly,.ria_box input[type=password].readonly{background:#e6e6e6!important;}
.ria_box input.disabled, .ria_box input:disabled{color:#888 !important;background:#e6e6e6}
.ria_box input:focus,.ria_box select:focus,.ria_box textarea:focus {border-color:#28b2a5;}
.ria_box input::-webkit-input-placeholder{font-size:15px;color:#888888;}
.ria_box input::-moz-placeholder{font-size:15px;color:#888888;}
.ria_box input:-ms-input-placeholder{font-size:15px;color:#888888;}
.ria_box input:-moz-placeholder{font-size:15px;color:#888888;}

.new_tit{display:block;color:#000;font-size:20px;position: fixed;top: 278px;left: 303px;z-index: 11;}

/* 커버플로어 버튼 */
.ria_box .stepWrap {
	overflow:hidden;
	padding:0 50px;
}
.ria_box .flipster__item--current {
	box-shadow:0px 0px 0px rgba(0,0,0,.4);
	opacity:1 !important;
}
.flipster__container,
.flipster__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.flipster__container {
  display: inherit;
  white-space: nowrap;
  word-spacing: -0.25em;
  transform-origin: 50% 50%;
  backface-visibility: hidden;
}
.flipster__item {
    display: inline-table;
    white-space: normal;
    word-spacing: normal;
    vertical-align: bottom;
}
.flipster__item img {
max-width: 100%;
}

/* @group Flat */
.flipster--flat .flipster__container,
.flipster--flat .flipster__item,
.flipster--flat .flipster__item__content {
  transition: all 400ms ease-in-out;
}

/*운전자 보험*/
.ria_box .select_board {position:relative;  margin:4px 0;}
.ria_box .select_board .select_area {content:'';  position:absolute;  left:0;  top:0px;  bottom:0px;  width:172px;  margin-left:-1px;  border:3px solid #009591;  opacity:0;  transition:all .2s;}
.ria_box .select_board .select_area:before,
.ria_box .select_board .select_area:after {content:'';  position:absolute;  left:0;  right:0;  height:4px;}
.ria_box .select_board .select_area:before {top:0;background-color:#fbfbfb;}
.ria_box .select_board .select_area:after {bottom:0;}
.ria_box .select_board .select_area {width: 180.5px;left: 740px;opacity: 1;}
.ria_box .select_board .select_plan {position: fixed;top: 257px;padding-left: 557px;background-color:#fbfbfb;border-top: 1px solid #555;border-left: 1px solid #afafaf;border-right: 1px solid #afafaf;border-bottom: 1px solid #555;z-index: 10;}
.ria_box .select_board .select_plan:after{display:block;content:"";clear:both;}
.ria_box .select_board .select_plan .item {display:inline-block;width:180px;float: left;border-left: 1px solid rgb(229, 229, 229); border-right: 1px solid rgb(229, 229, 229);}
.ria_box .select_board .select_plan .item label {display:block;  margin:0;  padding:10px 0;  color:#000;  font-size:20px;  text-align:center;width: 180px;}
.ria_box .select_board .select_plan .item:nth-child(2) >label,
.ria_box .select_board .select_plan .item:last-child >label{width:181px}
.ria_box .select_board .select_plan .item input[type=radio] + label:before {position:inherit;  vertical-align:top;  margin:-5px 10px 0 0;}
.ria_box .select_board .select_plan .item input[type=radio] + label.zero_data:before {margin-top: -5px;}
.ria_box .select_board .select_plan.size_change .item label {padding:24px 0;}
.ria_box .select_board .select_plan.size_change2 .item label {padding:15.5px 0;}
.ria_box .select_board .select_plan.size_change3 .item label {padding:20px 0;}
.ria_box .select_board .select_plan.size_change3 .item label.zero_data{top: 0px;padding: 24px 0px !important;}

.ria_box .select_board .board_area1 {border:1px solid #afafaf;border-bottom:0;margin-top: 72.6px;overflow: auto; height: 475px;}
.ria_box .select_board .board_area1 table {}
.ria_box .select_board .board_area1 table th,
.ria_box .select_board .board_area1 table td {font-weight:400;  vertical-align:middle;}
.ria_box .select_board .board_area1 table th {padding-top:9px;  padding-bottom:9px;  border-bottom:1px solid #afafaf;color:#000;font-size:18px;}
.ria_box .select_board .board_area1 table td {padding: 5px 15px !important;border-left:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;color:#656565;font-size:16px;text-align:right;}
.ria_box .select_board .board_area1 table tr.bdColor td,
.ria_box .select_board .board_area1 table tr:last-child td {border-bottom:1px solid #afafaf !important;}
.ria_box .select_board .board_area1 table .price {font-size:14px;}
.ria_box .select_board .board_area1::-webkit-scrollbar {width: 0;background: transparent;}

/* on */
.ria_box .select_board .board_area1 table td.on {color:#010101;background:#f9f9f9;}
.ria_box .select_board .board_area1 table td.on .price {color:#2259bb;}

.ria_box .select_board .board_area1.size_change table th {padding: 7px 10px;font-size:16px;text-align:left;border-bottom:1px solid #e5e5e5;height: 55px;}
.ria_box .select_board .board_area1.size_change table th label {font-size:16px;color:#000;}
.ria_box .select_board .board_area1.size_change table tr.bdColor th {border-bottom:1px solid #afafaf;}
.ria_box .select_board .board_area1.size_change table th.first {text-align:center;border-right:1px solid #e5e5e5;}
.ria_box .select_board .board_area1.size_change table td {padding:15px 35px;}
.ria_box .select_board .board_area1.size_change table td:first-child {text-align:right;}

.ria_box .select_board .board_area1.size_change2 table th,.ria_box .select_board .board_area1.size_change2 table td {padding:6px 35px;}
.ria_box .select_board .board_area1.size_change2 table th {font-size:16px;}
.ria_box .select_board .board_area1.size_change2 table th.small {padding:6px 0;text-align:center;border-left:1px solid #e5e5e5;}

.ria_box .select_board .board_area1.size_change table th.first {text-align:center;border-right:1px solid #e5e5e5; border-bottom:1px solid #afafaf;line-height: 20px;}
.ria_box .select_board .board_area1.size_change3 table tr.bdColor th {border-bottom:1px solid #afafaf;}
.ria_box .select_board .board_area1.size_change3 table td {padding:12px 20px;}
.ria_box .select_board .board_area1.re_size table th {padding:12px 20px;font-size:16px;text-align:left;border-bottom:1px solid #e5e5e5;}
.ria_box .select_board .board_area1.re_size table tr.bdColor th {border-bottom:1px solid #afafaf;}
.ria_box .select_board .board_area1.re_size table td {padding:12px 20px 12px 0;color:#656565;background:#fff !important;}
.ria_box .select_board .board_area1.size_change3.dtw_change3 table th {padding:8px 20px;}
.ria_box .select_board .board_area1.size_change3.dtw_change3 table td {padding:8px 20px;}

/* 반전형 라디오버튼 */
.ria_box input[type=radio].ria_base1{}
.ria_box input[type=radio].ria_base1{display:inline-block; position:absolute;left:-9999px;}
.ria_box input[type=radio].ria_base1 + label {z-index:1;position:relative;display:inline-block;cursor:pointer;line-height:26px;padding: 10px 20px 10px 40px!important;margin-right:10px;color:#555;}
.ria_box input[type=radio].ria_base1 + label.on{z-index:1;background:#009591;color:#fff;border-left: 3px solid #009591;border-right: 3px solid #009591;}
.ria_box input[type=radio].ria_base1 + label.on .p_price{font-size:24px;color: #d1f5f3;}
.ria_box input[type=radio].ria_base1 + label.on .p_txt{font-size:15px;color: #d1f5f3;} 
.ria_box input[type=radio].ria_base1 + label:before {content:"";display:inline-block;width:24px;height:24px;position:absolute;left:0;top:6px;background:url("/src/images/calImg/icon_radio_off.png") 0px 0px no-repeat;background-size:24px auto;position: absolute !important;top: 30px;left: 20px;}
.ria_box input[type=radio].ria_base1:checked + label:before {text-align:center;line-height:24px;background:url("/src/images/calImg/icon_radio_on_w.png") 0px 0px no-repeat;background-size:24px auto;position: absolute !important;top: 30px;left: 20px;}
