@import url('/src/css/reset.css');

/* 퀵메뉴 */
html {overflow-y: scroll; scroll-behavior: smooth;}

.quick_menu {position:fixed; left:50%; top:311px; margin-left:706px; z-index:10000;}
.quick_menu dl {text-align: right; display:inline-block; position:absolute; right:0; top:0;}
.quick_menu dl dt {display:none; text-align:right;}
.quick_menu dl dt a {position:absolute;top:120px;left:-20px;vertical-align: top; display:inline-block; width:20px; height:114px;}
.quick_menu dl dd {display:block;}
.quick_menu ul {overflow:hidden;}

.quick_menu ul{height:265px;overflow:hidden;border:1px solid #e5e5e5;border-radius:5px;background-color:#fff;}
.quick_menu ul li{position:relative;width:88px;padding:15px 0 15px 0;background:url("/src/images/layoutImg/bg_quick_underline.gif") no-repeat 9px bottom;}
.quick_menu ul li:last-child{background:none;}
.quick_menu ul li a{display:block;text-align:center;}
.btn_top{position:absolute;bottom:0;left:0;}
.btn_top span {display: block; overflow: hidden; text-indent: -20000px; background:url("/src/images/layoutImg/icon-side-quick.png") -20px -20px no-repeat; width: 90px; height: 32px; z-index: -1; font-size: 0;}
.quick_menu .ico_img{position:absolute;left:50%;top:10px;margin-left:-10px;}

.menu_txt{display:inline-block;width:88px;line-height:14px;}
.menu_txt > .small_txt{font-size:11px;color:#888;}
.quick_menu .menu_txt:before {content: ' '; display: block; width: 22px; height: 22px; padding: 2px 0;background: url("/src/images/layoutImg/icon-side-quick.png") center bottom no-repeat; overflow: hidden; margin: auto;}

.ico_quick_03{}
.ico_quick_03 .menu_txt{}
.ico_quick_03 .menu_txt:before {background-position: -20px -72px;}
.ico_quick_03 .menu_txt:hover:before {background-position: -10px -162px;}
.ico_quick_01{}
.ico_quick_01 .menu_txt{}
.ico_quick_01 .menu_txt:before {background-position: -20px -114px;}
.ico_quick_01 .menu_txt:hover:before {background-position: -136px -162px;}
.ico_quick_02{}
.ico_quick_02 .menu_txt{}
.ico_quick_02 .menu_txt:before {background-position: -172px -55px;}
.ico_quick_02 .menu_txt:hover:before {background-position: -224px -82px;}
/* 
@media all and (max-width:1440px){
	.quick_menu {position:fixed; right:25px; top:313px; margin-left:0; z-index:1000;}
}
@media all and (max-width:1024px){
	.quick_menu {position:fixed; right:0; top:313px; margin-left:0; z-index:1000;}
	.quick_menu dl dt {display:block;}
	.quick_menu dl dd {display:none;}
} */
