@import url('../../../css/reset.css');

html {line-height: 1.15;-webkit-text-size-adjust: 100%;/*모든 디바이스에서 동일한 텍스트 크기를 주기*/}
button {text-rendering: auto; writing-mode: horizontal-tb !important; letter-spacing: normal; word-spacing: normal; line-height: normal; text-transform: none; text-indent: 0px; text-shadow: none; display: inline-block; text-align: center; cursor: default; box-sizing: border-box; margin: 0em; padding: 1px 6px; border: none; overflow: visible; -webkit-appearance: button; background-color: transparent;}
ul {list-style: none; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; padding-inline-start: 40px; padding: 0;}
li {display: list-item; text-align: -webkit-match-parent;}
img {border-style: none;}

html, body{width: 100%; height: 100%;}
input:-webkit-autofill{-webkit-box-shadow: 0 0 0 1000px #f0fefe inset;}
#wrap {position: relative; overflow-y: hidden; overflow-x: hidden;}
#container{position: relative; width: 100%;}

/* 메인 배너 영역 */
.keyvisual_wrap {background-color: #e7fbe8; position: relative; margin: 0 auto; display: block; width: 100%; overflow: visible;}
.keyvisual_wrap .el_carousel {position: relative; width: 100%; margin: 0 auto; overflow: hidden;}
.keyvisual_wrap .el_carousel__container {position: relative; height: 840px!important; overflow: visible;}
.el_carousel__layer {width: 100%; height: 100%;}
.el_carousel__item {position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: inline-block; overflow: hidden; z-index: 0; text-align: center;}
.el_carousel__item.is_animating {-webkit-transition: -webkit-transform .4s ease-in-out; transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;}
.el_carousel__item.active {z-index: 2;}
.el_carousel__groups {display: -webkit-box; display: flex; flex-wrap: nowrap;}
.keyvisual_wrap .el_carousel__unit {-webkit-box-flex: 1; flex: 1 1 1; position: relative; width: 100%;}
.keyvisual_wrap .el_carousel__groups,
.keyvisual_wrap .el_carousel__groups .fluid_container {height: 100%; -webkit-box-pack: center; justify-content: center;}
.keyvisual_wrap .el_carousel__groups .fluid_container {display: -webkit-box; display: flex; -webkit-box-align: center; align-items: center; max-width: 2560px; margin: 0 auto;}
.fluid_container {background: radial-gradient(circle, rgba(231,251,232,0) 0%, rgba(231,251,232,0) 70%, rgba(255,255,255,1) 100%), linear-gradient(to bottom, #fff 68%, #E7FBE8 32%);}
.keyvisual_wrap .el_carousel__groups .fluid_container .txt_wrap {position: absolute; left: 12vw; top: 72px; right: 0; z-index: 1; /*width: 1260px;*/ height: auto; margin: 0 auto; text-align: left;}
.keyvisual_wrap .el_carousel__groups .fluid_container .txt_wrap .link_txt {width: auto; height: auto; background: transparent;}

.keyvisual_wrap .el_carousel__groups .fluid_container .banner_img_wrap img {max-width: 100%; height: 380px!important; object-fit: cover; margin-top: 6vw;}
.keyvisual_wrap .el_carousel .is_animating img {animation: car_animation 1.5s alternate;} /* animation 종류를 만들 수 있는 듯? */
.keyvisual_wrap .el_carousel__unit img {position: relative; max-width: 100%;}

.keyvisual_wrap .el_carousel__groups .fluid_container .txt_wrap .link_txt .txt_inner .car_name {font-family: "Noto Sans KR"; font-weight: 700; font-size: 86px; line-height: 82px; letter-spacing: -.25px; color: #000; text-align: left; }
.keyvisual_wrap .el_carousel__groups .fluid_container .txt_wrap .link_txt .txt_inner .car_name.long {font-size: 72px;}
.keyvisual_wrap .el_carousel__groups .fluid_container .txt_wrap .link_txt .txt_inner .sub_txt {margin-top: 14px; font-size: 26px; color: #000; line-height: 38px; letter-spacing: -.25px; text-align: left;}

.el_carousel__arrow {border: none; padding: 0; margin: 0; height: 44px; width: 44px; cursor: pointer; -webkit-transform: .3s; transition: .3s; border-radius: 0; background-color: rgba(31, 45, 61, 4); color: #fff; position: absolute; top: 50%; z-index: 10; -webkit-transform: translateY((-50%)); transform: translateY(-50%); text-align: center; font-size: 18px; outline: none; line-height: 1.8;}
.el_carousel__arrow i {cursor: pointer;}
.el_carousel__arrow__right {right: 0;}
.el_carousel__v2 .el_carousel__arrow {display: none;}
.el_carousel__v2 .el_carousel__arrow.el_carousel__arrow__custom {display: inline-block;}
.keyvisual_wrap .kv_main.el_carousel .el_carousel__arrow {width: 40px; height: 70px; background: transparent; color: #393838;}
.keyvisual_wrap .kv_main.el_carousel .el_carousel__arrow .el_icon_arrow__left {-webkit-transform: rotate( -45deg ); transform: rotate( -45deg );}
.keyvisual_wrap .kv_main.el_carousel .el_carousel__arrow .el_icon_arrow__right {-webkit-transform: rotate( 135deg ); transform: rotate( 135deg );}
.keyvisual_wrap .kv_main.el_carousel .el_carousel__arrow .el_icon_arrow__left::before {left: -4px; top: -13px;}
.keyvisual_wrap .kv_main.el_carousel .el_carousel__arrow .el_icon_arrow__right::before {left: -13px; top: -4px;}
.keyvisual_wrap .kv_main.el_carousel .el_carousel__arrow span {display: inline-block;}
.keyvisual_wrap .kv_main.el_carousel .el_carousel__arrow span::before {position: absolute; content: ""; width: 34px; height: 34px; border: 1px solid #000; border-right: 0; border-bottom: 0;}
.keyvisual_wrap .kv_main.el_carousel .el_carousel__arrow__left {left: 60px;}
.keyvisual_wrap .kv_main.el_carousel .el_carousel__arrow__right {right: 60px;}
.sr_only {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}

.control_wrap {display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; opacity: 1;}
.control_wrap__indicator {position: absolute; left: 0; right: 0; bottom: 50px; display: -webkit-box; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -webkit-box-pack: center; justify-content: center; z-index: 10;}
.slideinfo_list {display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center;}
.slideinfo_list__item {font-size: 0; padding: 6px;}
.slideinfo_list__link {-webkit-box-orient: vertical; -webkit-box-direction: normal; overflow: hidden; width: 100%; height: 100%; text-align: left; -webkit-transform: all .2s ease; transition: all .2s ease; outline: none; cursor: pointer; text-indent: -9999em; font-size: 14px; letter-spacing: -.4px; color: inherit; line-height: 100%; padding: 0; position: relative; display: inline-block; width: 12px; height: 12px;border-radius: 60%; background: rgba(0, 0, 0, .1);}
.slideinfo_list__link.active {background: #009591;}
.slideinfo_list__link::after {content: ""; display: inline-block; width: 12px; height: 12px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.control_wrap__btns {display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; position: static; margin: 6px; justify-content: center;}
.btn_control__toggle {position: relative; width: 18px; height: 18px; background-color: #575757; border-radius: 10px; vertical-align: middle;}
.btn_control__toggle::before {content: ""; position: absolute; left: calc(50% - 3px); top: calc(50% - 4px); display: inline-block; width: 2px; height: 8px; border: 2px solid #fff; border-top: 0; border-bottom: 0;}
.btn_control__toggle.pause::before {left: calc(50% - 2px); display: block; width: 0; height: 0; border: 0; border-left: 6px solid #fff; border-top: 4px solid transparent; border-bottom: 4px solid transparent;}
[type=button], button {-webkit-appearance: button;}

/*메인할인내역 배너*/
.section_wrap {padding: 140px 0 100px; margin: 0 auto; max-width: 1400px; text-align: center;}
.section_wrap .title {display: block; font-size: 54px; font-weight: 500; line-height: 58px; letter-spacing: -.4px;}
.main_mid_box {display: flex; justify-content: space-evenly; flex-wrap: wrap; letter-spacing: -0.08em; font-family: 'Roboto','Noto Sans KR'; text-align: left; margin: 50px 20px 0 20px;}
.main_mid_box li {flex-basis: calc(33.33% - 10px); background: #fff; border-radius: 15px; box-shadow: 5px 3px 20px 5px #00000012; border: 2px solid #fff; list-style: none; margin-bottom: 20px;}
.main_mid_box li:hover{border-color: #2cb26a;}
.main_mid_box li span {position:relative; cursor: pointer; text-decoration: none; padding-bottom: 5px;}
.main_mid_box li span::after {background:none repeat scroll 0 0 transparent; bottom:7px; left: 50%; content: ""; display: block; width: 0; height: 5px;position: absolute;background:#2cb26a40;transition:width 0.3s ease 0s, left 0.3s ease 0s;}
.main_mid_box li:hover span:after {width: 100%; left:0;}
.main_mid_box li section.visual_box {position:relative;	padding: 30px;margin: 10px;	background: #f9f9fb;	border-radius: 10px 10px 0 0;}
.main_mid_box li section.visual_box .visual_icon {content: "";display:block; width: 55%; margin: 0 auto 30px;}
section.visual_box .title  {font-size: 35px; color: #555; font-weight: 500; line-height: 48px; margin-top: 8px;}
section.visual_box .title font  {color: #ef794b; font-weight: 600;}
section.visual_box .sub_title  {font-size: 20px; color: #888888; letter-spacing: -0.08em;}
section.recom_box  {padding: 15px 40px 0;}
section.recom_box p.label  {padding: 3px 25px; display: inline-block; background: #fff; color: #ef794b; border: 2px solid #ef794b; border-radius: 5px; font-size: 16px; font-weight: 500;}
section.recom_box .recom_detail  {color: #555; font-size: 20px; font-weight: 500; margin-top: 20px;}
section.sale_point  {padding: 30px 40px;}
section.sale_point p.label  {padding: 3px 12px; display: inline-block; background: #fff; color: #2cb26a; border: 2px solid #2cb26a; border-radius: 5px; font-size: 16px; font-weight: 500;}
section.sale_point dl  {margin-top:15px;}
section.sale_point dl dt  {position:relative; padding-left:10px; color: #555; font-size: 20px; font-weight: 500; margin-top: 15px; display: flex; justify-content: space-between;}
section.sale_point dl dt:before  {content:""; display:block; position:absolute; left:0; top: 50%; width: 4px; height: 4px; border-radius:50%; background: #2cb26a; transform: translateY(-50%);}
section.sale_point dl dt span:first-child {position:relative; cursor: pointer; text-decoration: none; padding-bottom: 5px;}
section.sale_point dl dt span:first-child:after {background:none repeat scroll 0 0 transparent; bottom:5px; left: 50%; content: ""; display: block; width: 0; height: 5px;position: absolute;background:#2cb26a40;transition:width 0.3s ease 0s, left 0.3s ease 0s;}
section.sale_point dl dt span:first-child:hover:after {width: 100%; left:0;}
section.sale_point dl dt .point {color:#ef794b;}
section.sale_point dl dd {padding-left: 10px; font-size: 16px; color: #888;}

/* 보험상품 탭 */
.tab_banner {background: #E7FBE8; transform: skewY(3deg);}
.tab_banner .section_wrap {width: 90%; transform: skewY(-3deg); margin-top: 100px;}
.main_bottom_box {margin: 50px 0;}
/* 탭 메뉴 스타일 */
ul.tabs {list-style-type: none; margin: 0; padding: 0; display: flex; justify-content: left;}
ul.tabs li {cursor: pointer; padding: 10px 20px; font-size: 24px; font-weight: 500; position: relative; overflow: hidden; margin: 0 20px;}
ul.tabs li::after {content: ""; position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #009591; transition: width 0.3s ease-in;}
ul.tabs li.current::after {width: 100%;}
.tab_content {display: none;}
.tab_content.current {display: block;}
.tab_content .content_wrap {justify-content: space-between;}
.main_bottom_box .img_wrap {width: 40vw; height: auto;}
.main_bottom_box img {width: 60%;}
.content_wrap {display: flex; align-items: center; justify-content: center; margin: 80px 0;}
.content_wrap .right {display: flex; flex-direction: column; align-items: flex-start; justify-content: center;width: 60vw;}
.right {text-align: left;}
.right > p {text-align: left;}
.right .insurance_title {font-family: "Noto Sans KR"; font-weight: 700; font-size: 44px; line-height: 1.25; color: #222; margin: 15px 0 25px;}
.right .insurance_name {font-family: "Noto Sans KR"; font-weight: 400; display: block; margin: 0 0 15px; font-size: 24px; color: #555555; line-height: 1.4; font-weight: 500;}
.right .insurance_info {font-family: "Noto Sans KR"; font-weight: 400; margin: 0 0 30px; font-size: 20px; line-height: 1.4; color: #555555;}
.right .more {display: inline-block; width: 118px; line-height: 40px; border-radius: 21px; font-size: 16px; text-align: center; color: #E7FBE8; background-color: #555555; border: 1px solid #555555;}

/* 유튜브 홍보영상 배너 영역 */
.video_banner {background: #f5fbe7; padding-top: 180px; margin-top: -40px;}
.video_banner .section_wrap .ad_video {margin: 50px 0; width: 50vw; height: 28.1vw;}

/* 하단 정보 배너 영역 */
.contents .minfom {border: 1px solid #e5e5e5; margin: 100px auto 50px; padding: 30px; position: relative; letter-spacing: -0.05em; box-shadow: 5px 3px 20px 5px #00000012; width: 88%; border-radius: 10px;}
.contents .minfom:after {content: ""; clear: both; display: table;}
.contents .minfom .mbase {width: 100%; height: auto;}
.contents .minfom .mbase ul {display: flex; justify-content: space-between;}
.contents .minfom .mbase ul:after {content: ""; clear: both; display: table;}
.contents .minfom .mbase ul li:nth-child(1) {padding-right: 30px;}
.contents .minfom .mbase ul li {float: left; position: relative; width: 50%;}
.contents .minfom .mbase ul li:after {content: ""; width: 1px; height: 100%; background: #ddd; position: absolute; top: 0; right: 0; clear: both; display: table;}
.contents .minfom .mbase ul li:nth-child(2) {padding-left: 30px; padding-right: 15px; text-align: center;}
.contents .minfom .mbase ul li .mbase_btitle {display: flex; justify-content: space-between;}
.contents .minfom .mbase ul li .mbase_bphone {font-family: 'roboto'; font-weight: bold; font-size: 32px; line-height: 1; color: #009591; letter-spacing: 0; margin-top: 10px;}
.contents .minfom .mbase ul li .mbase_bpdate {font-weight: 400; font-size: 15px; color: #555; line-height: 21px; margin: 10px 0 25px;}
.contents .minfom .mbase ul li .mbase_bpdate:after {content: ""; clear: both; display: table;}
.contents .minfom .mbase_chatting {width: 95%; position: absolute; bottom: 0; background: #f9f9fb; border-radius: 10px;}
.contents .minfom .mbase_chatting:before {content: ""; width: 47px; height: 35px; background: url(../../../images/mainImg/icon_dots.png?20221027) no-repeat; position: absolute; top: 50%; left: 27px; transform: translateY(-50%);}
.contents .minfom .mbase ul li .mbase_bphone .mbase_blue {color: #009591;}
.contents .minfom .mbase ul li .mbase_bpdate span {margin-left: 6px; font-family: "roboto"; letter-spacing: 0;}
.contents .minfom .mbase_chatting a  {display: flex; font-weight: 400; font-size: 15px; color: #555; padding: 18px 0 17px 90px; position: relative; text-decoration: none; flex-direction: column;}
.contents .minfom .mbase_chatting a strong  {font-weight: 500; font-size: 18px; color: #009591; position: relative;}
.contents .minfom .mbase_chatting a:after {content: ""; width: 23px; height: 23px; background: url(../../../images/mainImg/img_golink.png?20221027) no-repeat; position: absolute; top: 50%; right: 5%; transform: translateY(-50%);}
.contents .minfom .mbase ul li:nth-child(2) .mbase_btitle  {justify-content: flex-start; align-items: baseline; font-weight: 400; font-size: 15px;}
.contents .minfom .mbase ul li .mbase_btitle>span.mbase_btitle  {font-weight: 500; font-size: 16px; line-height: 1; color: #333; width: 97px;}
.contents .minfom .mbase ul li .mbase_btitle>span  {color: #333; font-size: 15px; line-height: 1;}
.contents .minfom .mbase ul li .mbase_btitle>span>.ml5  {font-family: "roboto"; letter-spacing: 0; margin-left: 5px!important;}
.contents .minfom .mbase ul li dl  {width: 100%; display: flex; padding: 28px 30px 8px; margin-top: 28px; background: #f9f9fb; border-radius: 10px; flex-wrap: wrap; align-items: center; line-height: 1;}
.contents .minfom .mbase ul li dl dt  {width: 45%; text-align: left; font-size: 15px; line-height: 1; margin-bottom: 18px;}
.contents .minfom .mbase ul li dl dd  {color: #009591; font-size: 18px; font-weight: 500; text-align: left; width: 55%; line-height: 1; margin-bottom: 17px; font-family: "roboto"; letter-spacing: 0;}
.contents .minfom .mbase ul li dl dd > span  {display: inline-block; margin-left: 5px; color: #009591; font-size: 16px; letter-spacing: -0.05em; font-family: "Noto Sans KR";}
.contents .minfom .mbase ul li:nth-child(2):after  {background: none;}

@media screen and (min-width: 768px)  {
  #container {width: 100%;}
  .btn, a.btn, a.btn::before, a.btn span {display: inline-block; vertical-align: middle;}
  .btn, a.btn {width: 180px; height: 50px; border: 0; background: #002c5f; font-size: 16px; font-weight: 500; letter-spacing: -.4px; color: #fff; cursor: pointer;}
  a.btn {text-align: center;} button {cursor: pointer; background-color: transparent; border: none;}
}

@media screen and (max-width: 1024px)  {.keyvisual_wrap .el_carousel.kv_main .el_carousel__container {height: 510px!important;}
  .keyvisual_wrap .el_carousel__groups .fluid_container .txt_wrap {left: 5vw; top: 30px;}
  .keyvisual_wrap .el_carousel__groups .fluid_container .txt_wrap .link_txt .txt_inner .car_name {line-height: 52px;}
  .keyvisual_wrap .el_carousel__groups .fluid_container .txt_wrap .link_txt .txt_inner .car_name.title {font-size: 50px;}
  .keyvisual_wrap .el_carousel__groups .fluid_container .txt_wrap .link_txt .txt_inner .car_name.long {font-size: 42px;}
  .keyvisual_wrap .el_carousel__groups .fluid_container .txt_wrap .link_txt .txt_inner .sub_txt {margin-top: 0; font-size: 20px;}
  .keyvisual_wrap .kv_main.el_carousel .el_carousel__arrow__right {right: 20px;}
  .keyvisual_wrap .control_wrap__indicator {bottom: 20px;}
  .main_mid_box li {flex-basis: calc(50% - 40px);}}

@media screen and (max-width: 767px)  {
  button {cursor: pointer; background-color: transparent; border: none;}
  .btn, a.btn {text-align: center; display: inline-block; vertical-align: middle; width: 280px; height: 40px; border: 0; background: #002c5f; font-size: 15px; font-weight: 500; letter-spacing: -.4px; color: #fff; cursor: pointer;}
  .btn, a.btn, a.btn::before, a.btn span {display: inline-block; vertical-align: middle;} a.btn::before {content: ""; height: 100%;}
  .keyvisual_wrap .el_carousel {height: 120vw;}
  .keyvisual_wrap .el_carousel.kv_main .el_carousel__container {height: 120vw!important;}
  .keyvisual_wrap .el_carousel__groups .fluid_container {background-size: cover!important;}
  .fluid_container {background: radial-gradient(circle, rgba(231,251,232,0) 0%, rgba(231,251,232,0) 70%, rgba(255,255,255,1) 100%), linear-gradient(to bottom, #fff 55%, #bbffbf 45%);}
  .keyvisual_wrap .el_carousel__groups .fluid_container .txt_wrap {top: 5vw; width: auto;}
  .keyvisual_wrap .el_carousel__groups .fluid_container .txt_wrap .link_txt {width: 100%; text-align: left;}
  .keyvisual_wrap .el_carousel__groups .fluid_container .txt_wrap .link_txt .txt_inner .car_name {letter-spacing: -.25px; word-break: keep-all;}
  .keyvisual_wrap .el_carousel__groups .fluid_container .txt_wrap .link_txt .txt_inner .car_name.long {font-size: 8.35vw; line-height: 1.27em;}
  .keyvisual_wrap .el_carousel__groups .fluid_container .txt_wrap .link_txt .txt_inner .car_name.title {font-size: 12.25vw; line-height: .9em;}
  .keyvisual_wrap .el_carousel__groups .fluid_container .txt_wrap .link_txt .txt_inner .sub_txt {margin-top: 2.5vw; font-size: 5vw; letter-spacing: -.25px;}
  .keyvisual_wrap .el_carousel__unit img {width: 100%; margin: 0;}
  .keyvisual_wrap .el_carousel__groups .fluid_container .banner_img_wrap img {height: 50vw!important; width: auto;}
  .keyvisual_wrap .el_carousel.kv_main .el_carousel__arrow {display: none;}
  .keyvisual_wrap .kv_main.el_carousel .el_carousel__arrow__right {display: none;}
  .control_wrap {position: relative; z-index: 99;}
  .control_wrap__indicator {position: absolute; top: auto; bottom: 10vw!important;}
  .control_wrap__indicator .slideinfo_list__item {padding: 4px;}

  /* 아이템 배너 영역 */
  .main_mid_box li {flex-basis: 100%; margin: 0 20px 20px 20px;}

  /* 보험상품 탭 */
  .tab_banner ul.tabs {flex-direction: column; align-items: center;}
  .tab_banner ul.tabs li {margin-bottom: 30px; border-bottom: none; text-align: center; width: 36%;}
  .tab_banner .tab_content {border-radius: 5px;}
  .tab_banner .main_bottom_box .content_wrap {flex-direction: column; margin: 0 0 80px;}
  .tab_banner .main_bottom_box .img_wrap {width: 80vw;}
  .right .insurance_title {font-family: "Noto Sans KR"; font-weight: 600; font-size: 36px; line-height: 1.25; color: #222; margin: 15px 0 25px;}
  .right .insurance_name {font-family: "Noto Sans KR"; font-weight: 400; display: block; margin: 0 0 15px; font-size: 24px; color: #555555; line-height: 1.4; font-weight: 500;}
  .right .insurance_info {font-family: "Noto Sans KR"; font-weight: 400; margin: 0 0 30px; font-size: 20px; line-height: 1.4; color: #555555;}

 /* 유튜브 홍보영상 배너 영역 */
 .video_banner .section_wrap .ad_video {margin: 50px 0; width: 85vw; height: 48vw;}
 .contents .minfom .mbase_chatting:before {content: none;}
 .contents .minfom .mbase_chatting a {padding: 18px!important;}}

@media screen and (min-width: 768px) and (max-width:1200px)  {
  .keyvisual_wrap .el_carousel__groups .fluid_container .banner_img_wrap img {width: auto; height: 32vw!important;}
}

@media screen and (max-width: 978px)  {
  .contents .minfom .mbase ul li dl dt {width: 100%;}
}

@media screen and (min-width: 768px) and (max-width:1024px)  {
  .control_wrap__btns {margin: 4px;}
  .btn_control__toggle {margin-top: 0;}
}