@import url("/src/css/common.css");
@import url("/src/css/reset.css");
@import url("/src/css/default.css");

#contents {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 1140px;
    padding: 40px 20px 100px 20px;
    /* min-height: 600px; */
}
.contents-title{
    display: flex;
    flex-direction: column;
}

.contents-title h3{
    padding:20px;
    text-align: center;
    justify-content: center;
    font-size:40px;
}

.contents-title p{
    font-weight: 40px;

    font-size: 15px;
    border-bottom: 1px solid rgb(212, 212, 212);
    padding:40px;
    text-align: center;
    justify-content: center;
}

.step{
    margin:40px;
}

#header-title
{
    width: 100%;
    display: flex;
    flex-direction: row;
}


.step-title{
    width:100%;
    display: flex;
    flex-direction: row;
    padding-left:40px;
}

.step1-name{
    padding-right:20px;
    font-size: 30px;
    color:#009591;
    font-weight: 1000;
}

.step1-contents
{
    font-size: 30px;
}

.contents-input
{
    margin-left:40px;
    margin-top:20px;
    padding-left:20px;
    border-left:4px solid #009591;
}
.step-contents
{
    padding-left:40px;
    
    /* border:5px solid black; */
}

.input{
    padding:20px;
    /* border:1px solid blue; */
    display: flex;
    align-items: center;
    
}
.contents{
    /* border:1px solid orange; */
    /* width:500px; */
    width:100%;
}

.title
{
    padding-right:20px;
    font-size:17px;
    width:100px !important;

}


input:not(.phonenum)
{
    height: 40px;
    width:500px;
    padding:10px;

    
}

.phonenum
{
    height: 40px;
    width: 21%;
}

select
{
    height: 40px;
    padding:5px;
    margin-right:5px;
    border:1px solid rgb(212, 212, 212);

}

input{
    border-radius: 5px;
    border:1px solid rgb(212, 212, 212);
}


input:focus{
    outline:2px solid #009591;
}

.carnum-example
{
    font-size:12px;
    color:brown;
}

.type-of-accident
{
    display: flex;
    flex-direction: row; /* 가로로 배치 */
    align-items: center;
    width:500px;

}


  
  #accidenttype-input-contents input[type="radio"] {
    width: 50px; /* 너비 조정 */
    height: 30px; /* 높이 조정 */
  }


  #accidentplace-input-contents input{
    margin-bottom:10px;
  }

  input[type=file]::file-selector-button {
    font-size:15px;
    color:white;
    width: 150px;
    height: 30px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    cursor: pointer;
    background-color: #009591

  }


#accidentplace-input-contents #chooseimg
{
    width:100px;
    background-color: #009591;
}

.step.active .step-contents {
    display: block;
}

.step-title {
    cursor: pointer;
}

.step-contents {
    display: none;
}

.submit
{
    display: flex;
    justify-content: center;
    
}


.content-title
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.final-title
{
    padding:20px;
    width:200px;
    font-size: 20px;
    margin-left:20px;
}

.final-content
{
    font-size:15px;
}

/* html {
    height: 100%;
}

body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.image-upload {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
}

label {
    cursor: pointer;
    font-size: 1em;
}

#chooseFile {
    visibility: hidden;
}

.fileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileInput {
    display: flex;
    align-items: center;
    border-bottom: solid 2px black;
    width: 60%;
    height: 30px;
}

#fileName {
    margin-left: 5px;
}

.buttonContainer {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 0.8em;

    cursor: pointer;
}

.image-show {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.img {
    position: absolute;
}



 */
