@import url("/src/css/common.css");
@import url("/src/css/reset.css");


.contents-title-description {
    font-size: x-small;

}

.body-contents-header {
    width: 600px;
    margin: 20px auto;
}

#pid-title-name {
    display: inline-block;
    text-align: center;
    font-size: 20px;
}

#pid-form-content {
    display: inline-block;

}

#mouse-input-btn {
    display: inline-block;

}

.phone-auth {
    width: 200px;
    margin: 20px auto;

}

.phone-auth-background {
    align-items: center;
}

.modal-choice:active {
    width: 100px;
    margin: 10px auto;

}

.X {
    height: 10px;
    display: inline-block;
}

.phone-auth-modal {
    width: 300px;
    height: 500ps;
    margin: 100px auto;
    background-color: antiquewhite;
}

.pNo-submit-btn {
    text-align: center;
    width: 300px;
}

.btn {
    width: 300px;

}

.modal-info-agree {
    border: 1px solid black;
    margin: 10px;
    padding:10px;
}

.modal-footer {
    border: 1px solid black;
    margin: 10px;
}

.modal-info-pinfo {
    border: 1px solid black;
    margin: 10px;
    font-size: 13px;
    /* width: 60px; */


    
}
h3{
    text-align: center;

}
.contents-title-description{
    text-align: center;
}
ul{
    /* list-style: none; */
    padding-top:10px;
    padding-bottom:10px;
}
.input-area li {
    background-color: bisque;
    float:left;
    
}


.modal-info-name{
    width:100px;
}
.modal-info-name ul{
    float:left;
}

.modal-info-bday{
    width:100px;
}


.modal-info-name:focus {
    background-color: lightgrey;

}

.modal-info-bday:focus {
    background-color: lightgrey;
}

.phone-auth-modal {
    margin: 30px auto;
    width: 400px;
    padding: 20px;
    border: 1px solid #222;
    border-radius: 5px;
    border-radius: 20px;
}

.modal-choice {
    text-align: center;
}

.modal-close {
    display: inline-block;
    float: right;


}

.info-title {
    text-align: center;
}

.selectAll:focus {
    background-color: #009591;
}