<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" type="text/css" href="/src/css/layout/snb.css">
</head>
<body>
    <div class="quick_menu">
        <dl>
            <dt>
                <a href="javascript:void(0);" class="c" role="link">
                    <span class="btn_open"><img src="/static/resources/web/img/btn_quick_open.png" alt="빠른메뉴 하위메뉴 열기" role="img"></span>
                </a>
            </dt>
            <dd style="display: block;">
                    <li class="ico_quick_05">
                        <a href="/w/claim/carReward/rewardAccidentReceipt" role="link">
                            <span class="menu_txt">사고접수</span>
                        </a>
                    </li>
                    <li class="ico_quick_06">
                        <a href="/w/myeducar/contractManage/mileageRegister" role="link">
                            <span class="menu_txt">사진등록<br><span class="small_txt">마일리지/블랙박스</span></span>
                        </a>
                    </li>
                    <li class="ico_quick_09">
                        <a href="/w/customer/counselInquiry/onlineEmailCounsel" role="link">
                            <span class="menu_txt">이메일상담</span>
                        </a>
                    </li>
                </ul>
                <span class="btn_top">
                    <a href="javascript:void(0);" role="link"><span>맨 위로</span></a>
                </span>
            </dd>
        </dl>
    </div>
</body>