<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sidebar</title>
    <link rel="stylesheet" type="text/css" href="../../../css/layout/quickmenu.css">
</head>
<body>
    <div class="quick_menu">
        <dl>
            <dd style="display: block;">
                <ul class="quick_list">
                    <li class="ico_quick_01">
                        <a href="../../../html/accidentPage/newstep1.html" role="link">
                            <span class="menu_txt">사고접수</span>
                        </a>
                    </li>
                    <li class="ico_quick_02">
                        <a href="../../../html/productPage/mailCounsel.html" role="link">
                            <span class="menu_txt">이메일상담</span>
                        </a>
                    </li>
                    <li class="ico_quick_03">
                        <a href="../../../html/calPage/longtermDriver/longtermDriver.html" role="link">
                            <span class="menu_txt">다이렉트<br>보험료계산</span>
                        </a>
                    </li>
                </ul>
                <span class="btn_top">
                    <a href="#header"><span>맨 위로</span></a>
                </span>
            </dd>
        </dl>
    </div>
</body>