@charset "utf-8";
@import url("../../../css/common.css");
@import url("../../../css/reset.css");
@import url("../../../css/default.css");

.indicator_box {
  background: #009591;
  width: 100%;
  float: left;
}
.indicator_box > ul {
  margin: 0 auto;
  max-width: 1250px;
  width: 100%;
  overflow: auto;
}
.indicator_box > ul > li {
  float: left;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.indicator_box > ul > li:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.indicator_box > ul > li > a {
  display: block;
  color: #fff;
  font-size: 17px;
  padding: 12px 71px 13px 30px;
  position: relative;
}
.indicator_box > ul > li > a:after {
  content: "";
  display: block;
  position: absolute;
  width: 21px;
  height: 21px;
  margin-left: 10px;
  top: 15px;
  right: 30px;
  background: url("../img/icon_indiPlus.png") no-repeat top left;
}
.indicator_box > ul > li ul {
  display: none;
  width: 180px;
  position: absolute;
  top: 0;
  left: 0;
}
.indicator_box {
  width: 100%;
  background: #637079;
}
.indicator_box:after,
.indicator_box ul:after,
.indicator_box div {
  content: "";
  display: block;
  clear: both;
}
.indicator_box a {
  display: block;
  color: #fff;
}
.indicator_box ul {
  position: relative;
  z-index: 597;
}
.indicator_box ul li {
  float: left;
}
.indicator_box ul li a {
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 14px;
}
.indicator_box ul li a:hover,
.indicator_box ul li.active > a {
  color: #009591;
}
.indicator_box ul li.hover,
.indicator_box ul li:hover {
  position: relative;
  z-index: 599;
}
.indicator_box ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  z-index: 598;
  width: calc(100% + 2px);
  border: 1px solid #3e3e40;
  border-top: 0;
  padding: 10px 0;
  background: #fff;
}
.indicator_box ul ul ul {
  border-top: 1px solid #3e3e40;
}
.indicator_box ul ul ul ul {
  top: 0px;
  transition: 1s;
}
.indicator_box ul ul a {
  padding: 7px 10px 6px 18px;
}
.indicator_box ul ul li {
  position: relative;
  width: 100%;
}
.indicator_box ul ul li:hover {
  background: #cdf1ef;
}
.indicator_box ul ul li.dropdown > a:after {
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f105";
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
  font-size: 16px;
  color: #8a8a8a;
}
.indicator_box ul ul li.dropdown:hover > a {
  color: #009591;
}
.indicator_box ul ul li.dropdown:hover > a:after {
  color: #009591;
}
.indicator_box ul ul ul {
  top: 0;
  left: 100%;
}
.indicator_box > div {
  max-width: 1290px;
  min-width: 1024px;
  height: 50px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  background: #637079;
}
.indicator_box > div > ul {
  float: left;
  width: auto;
  min-width: 205px;
  border-right: 1px solid #6f7a79;
  transition: all 0.5s;
}
.indicator_box > div > ul ul li:hover > ul {
  display: block;
}
.indicator_box > div > ul > li {
  float: left;
  width: 100%;
}
.indicator_box > div > ul > li > a {
  display: block;
  color: #fff;
  padding: 15px 44px 15px 14px;
  position: relative;
  height: 50px;
}
.indicator_box > div > ul > li.dropdown > a:after {
  content: "\f107";
  display: block;
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  right: 14px;
  margin-top: -9px;
  font-size: 18px;
}
.indicator_box > div > ul > li > a:hover {
  color: #fff;
}
.indicator_box > div > ul.home {
  min-width: 51px;
  width: 51px;
  border-left: 1px solid #6f7a79;
}
.indicator_box > div > ul.home li a {
  background: url("../img/icon_home.png") no-repeat center center;
}
.indicator_box > div > ul.home > li > a {
  padding: 15px 0 15px 0;
}
.indicator_box > div > .godirect_iopen {
  display: none;
  width: 196px;
  height: 50px;
  text-align: right;
  float: right;
  clear: none;
  background: url("../img/bg_godirect.png") no-repeat left center;
  margin-right: -20px;
}
.indicator_box > div > .godirect_iopen a {
  display: block;
  line-height: 50px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  background: url("../img/icon_godirect.png") no-repeat 16px center;
}
.indicator_box.indi_fixed {
  position: fixed;
  top: 0;
  z-index: 10000; /*background:linear-gradient(90deg, #3f4656 50%, #ed1651 50%); */
  width: calc(100% - 17px);
}
.indicator_box.indi_fixed:after {
  position: absolute;
  z-index: -1;
  content: "";
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: block;
  background-color: #ed1651;
}
.indicator_box.indi_fixed > div > ul:nth-child(2) {
  min-width: 170px;
}
.indicator_box.indi_fixed
  > div
  > ul:nth-child(2)
  > li
  > ul
  > li
  > ul
  > li
  > ul
  > li
  > ul {
  width: 125%;
}
.indicator_box.indi_fixed > div > ul:nth-child(3) {
  min-width: 170px;
}
.indicator_box.indi_fixed
  > div
  > ul:nth-child(3)
  > li
  > ul
  > li
  > ul
  > li
  > ul {
  width: 125%;
}
.indicator_box.indi_fixed > div > ul:nth-child(4) {
  min-width: 170px;
}
.indicator_box.indi_fixed > div > ul:nth-child(4) > li > ul > li > ul {
  width: 125%;
}
@media all and (max-width: 1200px) {
  .indicator_box > div > ul {
    transition: none;
  }
}

#visual_box[class^="visual_1"],
#visual_box[class^="visual_2"],
#visual_box[class^="visual_3"],
#visual_box[class^="visual_4"],
#visual_box[class^="visual_5"] {
  height: 420px;
  background: #f1f4f5;
}
#visual_box.visual_icar {
  height: 1280px;
  background: url("../../../images/prouductImg/car/bg_visual_car.jpg") no-repeat
    center top #2cb26a;
  overflow: hidden;
}
#visual_box.visual_icar .base_area {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}
#visual_box .visual_sns {
  padding-top: 30px;
  text-align: right;
} /* 황금돼지 유재민 2019-03-29 margin-top:30px; -> padding-top:30px; */
#visual_box .visual_sns a {
  margin-left: 4px;
  display: inline-block;
}
#visual_box .visual_sns a.btnShareFacebook {
  display: none;
}
#visual_box .visual_mtitle {
  margin-top: 17px;
  font-weight: 500;
  font-size: 22px;
  color: #009591;
  letter-spacing: -1px;
}
#visual_box .visual_btitle {
  margin-top: -5px;
  font-weight: 500;
  font-size: 48px;
  color: #333;
  letter-spacing: -3px;
}
#visual_box .visual_bdetail {
  margin-top: 24px;
  font-weight: 400;
  font-size: 18px;
  color: #333;
  line-height: 28px;
  letter-spacing: -1px;
}
#visual_box .visual_btn_group,
#visual_box .visual_btn_group_v2 {
  margin-top: 37px;
}
#visual_box .visual_btn_group .btn {
  position: relative;
  display: inline-block;
  color: #007e7b;
  background: #fff;
  font-size: 18px;
  padding: 12px 20px;
  border: 1px solid #ed1651;
  border-radius: 15px 0 0 0;
  min-width: 236px;
  margin-right: 10px;
}
#visual_box .visual_btn_group .btn:last-child {
  margin-right: 0;
}
#visual_box .visual_btn_group .btn.btn_bgblue {
  color: #fff;
  text-align: left;
  background-color: #ed1651; /*background-image:url("../img/common/bg_btn_activelt.png"),url("../img/common/bg_btn_activetr.png");background-repeat:no-repeat, no-repeat;background-position:left top, right bottom;*/
  box-sizing: border-box;
}
#visual_box .visual_btn_group .btn.btn_bgblue:after {
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 27px;
  color: #fff;
  float: right;
}
#visual_box .visual_btn_group .btn.btn_bgwhite {
  color: #333;
  text-align: left;
  border: 1px solid #333;
}
#visual_box .visual_btn_group .btn.btn_bgwhite.on {
  background: #27b2a5;
  color: #fff;
  border-color: #009591;
}
#visual_box .visual_btn_group .btn.btn_bgwhite:after {
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 27px;
  color: #333;
  float: right;
}
#visual_box .visual_btn_group .btn.btn_bgwhite.on:after {
  color: #fff;
}
#visual_box .visual_btn_group .btn.btn_radio {
  color: #333;
  text-align: left;
  border: 2px solid #009591;
  box-sizing: border-box;
}
#visual_box .visual_btn_group .btn.btn_radio.on {
  background: #009591;
  color: #fff;
  border-color: #009591;
}
#visual_box .visual_btn_group .btn.btn_radio:last-child {
  margin-left: -26px;
}
#visual_box .visual_btn_group .btn.btn_icar_red {
  position: relative;
  background: #ed1651;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  border: 0;
  margin-right: 8px;
  border-radius: 12px 0 0 0;
  padding: 14px 44px 16px 22px;
  min-width: 236px;
  text-align: left;
}
#visual_box .visual_btn_group .btn.btn_icar_gray {
  position: relative;
  background: #333;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  border: 0;
  margin-right: 0;
  border-radius: 12px 0 0 0;
  padding: 14px 44px 16px 22px;
  min-width: 176px;
  text-align: left;
}
#visual_box .visual_btn_group .btn.btn_icar_green {
  position: relative;
  background: #00a9a1;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  border: 0;
  margin-right: 0;
  border-radius: 12px 0 0 0;
  padding: 14px 44px 16px 22px;
  min-width: 176px;
  text-align: left;
}
#visual_box .visual_btn_group .btn.btn_icar_red:after,
#visual_box .visual_btn_group .btn.btn_icar_gray:after,
#visual_box .visual_btn_group .btn.btn_icar_green:after {
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 27px;
  position: absolute;
  color: #fff;
  right: 15px;
  top: 13px;
}
#visual_box.visual_108 {
  background: url("../../../images/prouductImg/carDriverDirect/bg_visual_108.png")
    no-repeat center top;
}
#visual_box.visual_106 {
  background: url("../../../images/prouductImg/carDriver/bg_visual_106.jpg")
    no-repeat center top;
}
#visual_box.visual_icar .base_area {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}
#visual_box.visual_txt {
  float: none;
  width: 100%;
  height: 130px;
  margin: 0 auto;
  max-width: 1140px;
  padding: 40px 0 15px;
}
#visual_box.visual_txt:after {
  content: "";
  clear: both;
  display: table;
}
#visual_box.visual_counselInquiry {
  background: url(../../../images/prouductImg/counselInquiry/visual_counselInquiry_bg.jpg)
    top right no-repeat;
}
#visual_box.visual_txt h2 {
  display: block;
  text-align: left;
  font-weight: 500;
  font-size: 32px;
  color: #000;
  margin-left: 20px;
  width: auto;
  position: static;
}

#visual_box.visual_txt h2 {
  display: block;
  text-align: left;
  font-weight: 500;
  font-size: 32px;
  color: #000;
  margin-left: 20px;
  width: auto;
  position: static;
}
#visual_box.visual_txt h2:before {
  content: "";
  width: calc(100% - 40px);
  background: #000;
  bottom: 0;
  left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

user agent stylesheet h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#new_banner a.point_btn {
  float: none;
  display: unset;
  height: unset;
  padding: unset;
  line-height: unset;
  font-size: unset;
  letter-spacing: unset;
  text-align: unset;
  overflow: unset;
  position: unset;
  z-index: unset;
}
.new_banner {
  margin-top: 110px;
}
.new_banner > div > h2 {
  color: #fff;
  font-size: 44px;
  font-weight: 400;
  text-align: center;
}
.new_banner > p {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  color: #fff;
  margin-top: 15px;
  font-weight: 300;
  line-height: 1.8;
}

.eco_point_box {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  letter-spacing: -0.08em;
  font-family: "Roboto", "Noto Sans KR";
  margin-top: 40px;
}
.eco_point_box li {
  padding: 30px;
  width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e1ffef;
  border-radius: 15px;
  box-shadow: 0 0 10px 5px #00000012;
  height: 412px;
  justify-content: space-evenly;
}
.eco_point_box li .top,
.eco_point_box li .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eco_point_box li .num_title {
  padding: 8px 10px;
  background: #2cb26a;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}
.eco_point_box li .main_title {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  text-align: center;
  margin-bottom: 25px;
}
.eco_point_box li .main_title span {
  background: linear-gradient(to bottom, transparent 65%, #2cb26a50 65%);
}
.eco_point_box li .main_title font {
  color: #2cb26a;
}
.eco_point_box li .sub_text {
  font-size: 14px;
  color: #555;
  margin-bottom: 30px;
  text-align: center;
}
.eco_point_box li dl {
  width: 100%;
  text-align: center;
}
.eco_point_box li dl dt {
  padding: 12px 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #2cb26a;
  border-radius: 15px 15px 0 0;
}
.eco_point_box li dl dd {
  padding: 22px 30px;
  display: flex;
  font-size: 14px;
  color: #555;
  background: #fff;
  border-radius: 0 0 15px 15px;
}
.eco_point_box li dl dd a:hover {
  color: #2cb26a;
  border-bottom: 1px solid #2cb26a;
  text-decoration: none;
}
.eco_point_box li dl dd {
  justify-content: space-between;
}
.eco_point_box li dl dd span::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background: #009591;
  margin-right: 5px;
  border-radius: 50%;
  transform: translateY(-3px);
}
.eco_point_box li:first-child dl dd a:hover {
  color: #2cb26a;
  border-bottom: 1px solid #2cb26a;
  text-decoration: none;
}
.eco_point_box li dl dd span font {
  color: #2cb26a;
  border-bottom: 1px solid #2cb26a;
}

#contents.wide_area {
  max-width: none;
  padding: 0;
  position: relative;
}
#contents.wide_area:before {
  content: "";
  display: block;
  max-width: 1128px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-left: 1px solid #e3e4e8;
}
#contents.wide_area.car {
  max-width: none;
  padding: 0;
  position: relative;
}
#contents.wide_area.car:before {
  content: "";
  display: block;
  max-width: 1128px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-left: 1px solid #e3e4e8;
}
#contents.wide_area.car:before {
  padding-left: 261px;
}
#contents.wide_area:before {
  padding-left: 121px;
}

@media all and (max-width: 1389px) {
  #contents.wide_area:before {
    padding-left: 1px;
  }
  .base_area.mt170:before {
    top: -18px;
    left: -53px;
  }
  .big_h2 {
    top: 82px;
    left: -133px;
  }
  .base_area {
    max-width: 1024px;
  }
}

@media all and (max-width: 1279px) {
  #contents.wide_area:before,
  .base_area.mt170:before {
    display: none;
  }
  .big_h2 {
    display: none;
  }
  .mq_bg .square_quick > li > dl > dd > a {
    font-size: 17px;
    letter-spacing: -1px;
  }
}

#contents > .tab1_group:first-child,
#contents > .section_box100:first-child {
  margin-top: 0 !important;
}
#contents.wide_area:before {
  padding-left: 121px;
}

.feature_102 {
  background: #2cb26a;
}
.feature_102 .big_h2 {
  top: 82px;
  left: -205px;
}
.feature_102_sub .big_h2 {
  top: 82px;
  left: -205px;
}
.feature_106 {
  background: url("../../../images/prouductImg/carDriver/bg_feature_106.jpg")
    no-repeat center top;
}

.base_area:after {
  content: "";
  clear: both;
  display: table;
}
.base_area {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}
.base_area {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}
.base_area_1140 {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}
.base_area.mt170:before {
  content: "";
  display: block;
  width: 100%;
  height: 500%;
  position: absolute;
  top: -44px;
  left: -55px;
  border-left: 1px solid #e3e4e8;
}
.bg_cross_white .base_area {
  background: #fff;
}
.base_area800 {
  width: 800px;
  margin: auto;
}
.base_area:after {
  content: "";
  clear: both;
  display: table;
}
.base_area800:after {
  content: "";
  clear: both;
  display: table;
}
.base_area800 .big_h2 {
  position: absolute;
}
.base_area800 .big_h2 h2 {
  color: #666;
}
.big_h2 {
  width: 120px;
  height: 120px;
  transition: 0.8s;
}
.big_h2 a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 76px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.big_h2 a h2 {
  font-weight: 400;
}
.big_h2 {
  position: absolute;
}
.base_area800 .big_h2 {
  top: 82px;
  left: -285px;
}
.base_area800 .big_h2 {
  top: 82px;
  left: -225px;
}
.base_area {
  max-width: 1024px;
}
.base_area.mt170:before {
  top: -18px;
  left: -53px;
}

.product_title h2 {
  font-weight: 300;
  font-size: 40px;
  color: #333;
  line-height: 50px;
  letter-spacing: -1.5px;
  text-align: center;
}
.product_title h2 strong {
  font-weight: 400;
  font-size: 40px;
  color: #333;
}
.product_title h2:after {
  content: "";
  display: block;
  margin-top: 14px;
  margin-bottom: 61px;
  width: 100%;
  height: 11px;
}

.product_feature ul {
  height: 390px;
}
.product_feature ul.cf_all {
  width: 725px;
  margin: auto;
}
.product_feature li {
  float: left;
  width: calc((100% - 52px) / 3);
  height: 100%;
  margin-right: 25px;
  background: #fff;
}

.product_feature li img {
  width: 100%;
}

.product_feature li:last-child {
  margin-right: 0;
}

.product_feature li h3 {
  padding: 30px 20px 0 20px;
  font-weight: 400;
  font-size: 21px;
  color: #333;
  letter-spacing: -1.5px;
}

.product_feature li h3 lh28 {
  line-height: 28px;
}

.product_feature li p {
  padding: 10px 20px 0 20px;
  font-weight: 400;
  font-size: 14px;
  color: #555;
  line-height: 26px;
  letter-spacing: -1px;
}

.product_feature li > ul {
  width: 100%;
  height: auto;
  padding: 15px 15px 0 20px;
}

.product_feature li > ul > li {
  float: none;
  font-size: 14px;
  position: relative;
  padding-left: 10px;
  width: 100%;
  height: auto;
  margin-right: 0;
  margin-bottom: 7px;
  line-height: 1.3;
}

.product_feature li > ul > li:before {
  content: "-";
  padding-right: 4px;
  position: absolute;
  left: 0;
  top: 0px;
  color: #555;
}
.product_feature li > ul > li > ul {
  width: 100%;
  height: auto;
  padding: 15px 0px 0 8px;
}
.product_feature li > ul > li > ul > li {
  float: none;
  font-size: 13px;
  position: relative;
  padding-left: 2px;
  width: 100%;
  height: auto;
  margin-right: 0px;
  margin-bottom: 4px;
  line-height: 1.1;
  color: #888;
}
.product_feature li > ul > li > ul > li:before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background-color: #777;
  border-radius: 50%;
  padding-right: 0;
  position: absolute;
  left: -7px;
  top: 5px;
}
.product_feature li > ol {
  width: 100%;
  height: auto;
  padding: 15px 20px 0 20px;
}
.product_feature li > ol > li {
  float: none;
  font-size: 12px;
  position: relative;
  padding-left: 15px;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  line-height: 1.3;
  color: #999;
}
.product_feature li > ol > li:before {
  content: "①";
  padding-right: 4px;
  position: absolute;
  left: 0;
  top: 0px;
  color: #999;
}
.product_feature li > ol > li:nth-child(2):before {
  content: "②";
}
.product_feature li > ol > li:nth-child(3):before {
  content: "③";
}
.product_feature li > ol > li:nth-child(4):before {
  content: "④";
}
.product_feature li > ol > li:nth-child(5):before {
  content: "⑤";
}
.product_feature li > ol > li:nth-child(6):before {
  content: "⑥";
}
.product_feature li > ol > li:nth-child(7):before {
  content: "⑦";
}
.product_feature li > ol > li:nth-child(8):before {
  content: "⑧";
}
.product_feature li > ol > li:nth-child(9):before {
  content: "⑨";
}
.product_feature li > ol > li:nth-child(10):before {
  content: "⑩";
}
.product_feature .owl-carousel div > a .img_btn {
  position: relative;
  overflow: hidden;
}
.product_feature .owl-carousel div > a .img_btn .top {
  position: absolute;
  bottom: 50%;
  z-index: 2;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  transition: all 0.45s;
  opacity: 0;
  transform: translate(125%, -25%);
}
@media (max-width: 1389px) {
  .product_feature .owl-carousel div > a .img_btn .top {
    left: -25px;
  }
}
.product_feature .owl-carousel div > a .img_btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  transition: all 0.35s;
}
.product_feature .owl-carousel div > a:hover .top {
  opacity: 1;
  transform: translate(125%, 50%);
}
.product_feature .owl-carousel div > a:hover .img_btn::after {
  opacity: 1;
}
.product_feature .owl-carousel .item {
  background: #fff;
}
.product_feature .owl-carousel .item_board {
  background: #fff;
  height: 180px;
}
.product_feature .owl-carousel .item h3 {
  padding: 30px 20px 0 20px;
  font-weight: 400;
  font-size: 21px;
  color: #333;
  letter-spacing: -1.5px;
}
.product_feature .owl-carousel .item p {
  padding: 10px 20px 0 20px;
  font-weight: 400;
  font-size: 14px;
  color: #555;
  line-height: 26px;
  letter-spacing: -1px;
}
.product_feature .owl-carousel .item ul {
  padding: 10px 10px 0 10px;
  height: unset;
}
.product_feature .owl-carousel .item ul > li {
  float: none;
  font-size: 14px;
  position: relative;
  padding-left: 10px;
  width: 100%;
  height: auto;
  margin-right: 0;
  line-height: 20px;
  margin-bottom: 5px;
}
.product_feature .owl-carousel .item ul > li:before {
  content: "-";
  padding-right: 4px;
  position: absolute;
  left: 0;
  top: -2px;
  color: #555;
}
.product_feature .owl-carousel .item_board.h250 {
  background: #fff;
  height: 210px;
  position: relative;
}
.product_feature .owl-carousel .item_board.h250 a {
  color: #009591;
  right: 10px;
  position: absolute;
  top: 32px;
  cursor: pointer;
  padding: 3px 2px 3px 10px;
  background: #fff;
  border-radius: 34px;
  text-decoration: none;
  transition: all 0.35s;
  border: 1px solid #009591;
  font-size: 13px;
}
.product_feature .owl-carousel .item_board.h250 a:hover {
  color: #fff;
  background-color: #009591;
  border: 1px solid #fff;
}
.product_feature .owl-carousel .item_board.h250 a span {
  padding-left: 10px;
}

.etc_list ul li {
  float: left;
  width: 50%;
}
.etc_list ul li:first-child {
  padding-right: 70px;
}
.etc_list ul li:last-child {
  padding-left: 70px;
}
.etc_list ul li dl {
  margin-bottom: 76px;
}
.etc_list ul li dl dt {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}
.etc_list ul li dl dd {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  line-height: 24px;
  margin-top: 10px;
}

.base_tb {
  font-size: 14px;
  border-top: 1px solid #009591;
  border-bottom: 1px solid #ddd;
}
.base_tb.notice_room {
  border-top: 2px solid #555555;
}
.base_tb th,
.base_tb td {
  padding: 15px;
  text-align: center;
}
.base_tb th:last-child,
.base_tb td:last-child {
  border-right: 0;
}
.base_tb thead tr:first-child th {
  border-top: none;
}
.base_tb thead tr th,
.base_tb tbody tr th {
  background: #f9f9fb;
}
.base_tb thead th,
.base_tb tbody th {
  color: #333;
  font-size: 15px;
  font-weight: 500;
  background: #e7f3fd;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}
.base_tb tbody td {
  color: #555;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}
.base_tb thead + .base_tb tbody tr th {
  border-right: 1px solid #e5e5e5 !important;
}
.base_tb thead + .base_tb tbody tr th + td {
  border-right: 1px solid #e5e5e5 !important;
}
.product_tb.base_tb {
  font-size: 14px;
  border-top: 2px solid #009591;
  border-bottom: 1px solid #e5e5e5;
}
.product_tb.base_tb th,
.product_tb.base_tb td {
  padding: 15px;
  text-align: center;
  border-right: 1px solid #e5e5e5;
}
.product_tb.base_tb th:last-child,
.product_tb.base_tb td:last-child {
  border-right: 0;
}
.product_tb.base_tb thead tr {
  border-top: 1px solid #e5e5e5;
}
.product_tb.base_tb thead tr:first-child {
  border-top: none;
}
.product_tb.base_tb thead th,
.product_tb.base_tb tbody th {
  color: #333;
  font-size: 15px;
  font-weight: 500;
  background: #f9f9fb;
  vertical-align: middle;
}
.base_tb.sel_tb th,
.base_tb.sel_tb td {
  border-right: 1px solid #e5e5e5;
}
.base_tb.sel_tb th:last-child,
.base_tb.sel_tb td:last-child {
  border-right: 0;
}
.sel_tb input[type="radio"] + label:before {
  left: 8px;
  top: -8px;
}
.sel_tb input[type="checkbox"] + label:before {
  left: 8px;
  top: -8px;
}

.tab1_group {
  width: 100%;
  float: left;
  padding: 0;
}
.tab1_group .tab_header.tab2 li {
  width: 50%;
}
.tab1_group .tab_header.tab1 li:nth-child(1) {
  width: 100%;
}
.tab1_group .tab_header:after {
  content: "";
  clear: both;
  display: block;
}
.tab1_group .tab_header {
  float: left;
  width: 100%;
}
.tab1_group .tab_header.line2 {
  float: left;
  width: 100%;
}
.tab1_group .tab_header li {
  float: left;
}
.tab1_group .tab_header.line2 li a {
  display: inline-block;
  vertical-align: middle;
  height: 80px;
}

.product_tab.tab1_group .tab_header:after {
  content: "";
  clear: both;
  display: table;
}
.product_tab.tab1_group .tab_header {
  float: left;
  width: 100%;
}
.product_tab.tab1_group .tab_header li {
  float: left;
}
.product_tab.tab1_group .tab_header.tab2 li:nth-child(1) {
  width: 50%;
}
.product_tab.tab1_group .tab_header.tab2 li:nth-child(2) {
  width: 50%;
}
.product_tab.tab1_group .tab_header li a {
  display: block;
  width: 100%;
  padding: 16px 0px;
  font-weight: 500;
  font-size: 18px;
  color: #767676;
  background: #f4f4f4;
  text-align: center;
  border: 0;
}
.product_tab.tab1_group .tab_header li:last-child a {
  border-right: 0;
}
.product_tab.tab1_group .tab_header li a.noline {
  border-left: 0;
}
.product_tab.tab1_group .tab_header li a.line {
  border-left: 0;
}
.product_tab.tab1_group .tab_header li a.on {
  background: #009591;
  color: #fff;
  border: 0;
}
.product_tab.tab1_group .tab_header {
  width: 100%;
  float: left;
}

.tab1_group .tab_content {
  width: 100%;
  float: left;
}
.tab1_group .tab_content .tab_cont {
  display: none;
}
.tab1_group .tab_content .tab_cont.open {
  display: block;
}

.sure_list {
  padding: 46px 0;
  border-bottom: 1px solid #e5e5e5;
}
.sure_list h3 {
  font-weight: 500;
  font-size: 18px;
  color: #009591;
}
.sure_list.bg1 {
  background: url("../../../images/prouductImg/car/bg_sure_01.png") no-repeat
    96.4% center;
}
.sure_list.bg2 {
  background: url("../../../images/prouductImg/car/bg_sure_02.png") no-repeat
    96.4% center;
}
.sure_list.bg3 {
  background: url("../../../images/prouductImg/car/bg_sure_03.png") no-repeat
    96.4% center;
}
.sure_list.bg4 {
  background: url("../../../images/prouductImg/car/bg_sure_04.png") no-repeat
    96.4% center;
}
.sure_list.bg5 {
  background: url("../../../images/prouductImg/car/bg_sure_05.png") no-repeat
    96.4% center;
}
.sure_list.bg6 {
  background: url("../../../images/prouductImg/car/bg_sure_06.png") no-repeat
    96.4% center;
}
.sure_list.bg7 {
  background: url("../../../images/prouductImg/car/bg_sure_07.png") no-repeat
    96.4% center;
}

.product_icon400 {
  background: url("../../../images/prouductImg/car/icon_product_400.png")
    no-repeat;
}
.product_accordion.acc_group {
  padding-top: 0;
  padding-bottom: 100px;
}
.product_accordion.acc_group:before {
  display: none;
}
.product_accordion.acc_group dt {
  border: 1px solid #e5e5e5;
  margin-top: 10px;
}
.product_accordion.acc_group dt:first-child {
  margin-top: 0;
}
.product_accordion.acc_group dt a {
  padding: 21px 24px;
  font-weight: 500;
  font-size: 16px;
  color: #333;
}
.product_accordion.acc_group dd {
  padding: 24px;
  background: #f9f9fb;
  border: 1px solid #e5e5e5;
  border-top: 0;
}
.product_accordion.acc_group dd ol li {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  color: #555;
  line-height: 24px;
  padding: 0 22px;
  margin-bottom: 5px;
}
.product_accordion.acc_group dd ol li:last-child {
  margin-bottom: 0;
}
.product_accordion.acc_group dd ol li:after {
  content: "";
  clear: both;
  display: table;
}
.product_accordion.acc_group dd ol li > span {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "roboto";
  font-weight: bold;
  font-size: 14px;
  color: #009591;
}
.product_accordion.acc_group dd ol li .tcb_p2.tcb_icon1:last-child {
  margin-bottom: 5px;
}
.product_accordion.acc_group dd ol li th {
  text-align: left;
  background: #f9f9f9;
}
.product_accordion.acc_group dd ol li td {
  text-align: left;
  background: #fff;
}

.line_change {
  display: block;
  padding-left: 8px;
  position: relative;
}
.line_change i {
  font-style: normal;
  position: absolute;
  left: 0;
}

.product_accordion.acc_group a.site-txt {
  color: #009591;
}
.product_accordion.acc_group dd .number li:before {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "roboto";
  font-weight: bold;
  font-size: 14px;
  color: #009591;
}
.product_accordion.acc_group dd .number li:nth-child(1):before {
  content: "01";
}
.product_accordion.acc_group dd .number li:nth-child(2):before {
  content: "02";
}
.product_accordion.acc_group dd .number li:nth-child(3):before {
  content: "03";
}
.product_accordion.acc_group dd .number li:nth-child(4):before {
  content: "04";
}
.product_accordion.acc_group dd .number li:nth-child(5):before {
  content: "05";
}
.product_accordion.acc_group dd .number li:nth-child(6):before {
  content: "06";
}
.product_accordion.acc_group dd .number li:nth-child(7):before {
  content: "07";
}
.product_accordion.acc_group dd .number li:nth-child(8):before {
  content: "08";
}
.product_accordion.acc_group dd .number li:nth-child(9):before {
  content: "09";
}
.product_accordion.acc_group dd .number li:nth-child(10):before {
  content: "10";
}
.product_accordion.acc_group dd .number li:nth-child(11):before {
  content: "11";
}
.product_accordion.acc_group dd .number li:nth-child(12):before {
  content: "12";
}
.product_accordion.acc_group dd .number li ul li {
  padding-left: 12px;
  margin-bottom: 0;
}
.product_accordion.acc_group dd .number li ul li:before {
  position: absolute;
  content: "" !important;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: 0;
  top: 10px;
  background: #333;
}

.acc_group {
  width: 100%;
  float: left;
  position: relative;
  padding-top: 4px;
}
.acc_group:before {
  position: absolute;
  top: 0;
  z-index: 2;
  display: block;
  content: "";
  width: 100px;
  height: 4px;
  background: #007e7b;
}
.acc_group dt:first-child {
  border-top: 1px solid #d8d8d8;
  margin-top: -1px;
}
.acc_group dt {
  width: 100%;
  float: left;
  position: relative;
  border-bottom: 1px solid #d8d8d8;
}
.acc_group dt a {
  display: block;
  background: url("../../../images/prouductImg/car/bg_acc_off.gif") no-repeat
    right center;
}
.acc_group dt a:after {
  content: "";
  clear: both;
  display: table;
}
.acc_group dt a.on {
  background: url("../../../images/prouductImg/car/bg_acc_off.gif") no-repeat
    right center;
}
.acc_group dt a:hover span {
  color: #28b2a5;
  text-decoration: none;
} /*2019-02-15 underline 고객요구사항반영*/
.acc_group dt a span:nth-child(1) {
  display: block;
  float: left;
  width: 100px;
  line-height: 109px;
  font-family: Arial;
  font-weight: 500;
  font-size: 63px;
  color: #e4e5e5;
  text-align: center;
  letter-spacing: -2px;
  text-decoration: none;
}
.acc_group dt a span:nth-child(2) {
  display: block;
  float: left;
  width: calc(100% - 100px);
  font-family: "Noto Sans KR";
  font-weight: 400;
  line-height: 16px;
  font-size: 16px;
  color: #333;
  margin-top: 24px;
}
.acc_group dt a span:nth-child(3) {
  display: block;
  float: left;
  width: calc(100% - 100px);
  font-family: "Noto Sans KR";
  font-weight: 500;
  line-height: 24px;
  font-size: 24px;
  color: #333;
  margin-top: 12px;
}
.acc_group dt a:hover span:nth-child(3),
.acc_group dt a span:nth-child(3).on {
  color: #28b2a5;
}
.acc_group dd {
  width: 100%;
  float: left;
  border-bottom: 1px solid #d8d8d8;
  background: #f6f8ff;
  padding: 30px 27px;
}
.acc_group dd {
  display: none;
}
.acc_group ul li {
  line-height: 26px;
}
.acc_group.nostyle:before {
  position: relative;
  height: 0;
}
.acc_group.nostyle dt a {
  min-height: 109px;
  position: relative;
}
.acc_group.nostyle dt a strong {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-weight: 500;
  font-size: 24px;
  color: #333;
}
.acc_group dt a.on {
  background: url("../../../images/prouductImg/car/bg_acc_off.gif") no-repeat
    right center;
}
.acc_group dt a:hover strong {
  color: #28b2a5;
  text-decoration: none;
} /*2019-02-15 underline 고객요구사항반영*/
.acc_group dt a:hover strong,
.acc_group dt a strong.on {
  color: #009591;
}
.acc_group2 {
  width: 100%;
  float: left;
  position: relative;
  padding-top: 4px;
}
.acc_group2 dt {
  width: 100%;
  float: left;
  position: relative;
  border: 1px solid #e5e5e5;
}
.acc_group2 dt a {
  display: block;
  background: url("../../../images/prouductImg/car/bg_acc_off.gif") no-repeat
    right center;
}
.acc_group2 dt a:after {
  content: "";
  clear: both;
  display: table;
}
.acc_group2 dt a.on {
  background: url("../../../images/prouductImg/car/bg_acc_off.gif") no-repeat
    right center;
}
.acc_group2 dt a:hover span {
  color: #28b2a5;
  text-decoration: none;
} /*2019-02-15 underline 고객요구사항반영*/
.acc_group2 dt a span:nth-child(1) {
  display: block;
  float: left;
  width: 100px;
  line-height: 109px;
  font-family: Arial;
  font-weight: 500;
  font-size: 63px;
  color: #e4e5e5;
  text-align: center;
  letter-spacing: -2px;
  text-decoration: none;
}
.acc_group2 dt a span:nth-child(2) {
  display: block;
  float: left;
  width: calc(100% - 100px);
  font-family: "Noto Sans KR";
  font-weight: 400;
  line-height: 16px;
  font-size: 16px;
  color: #333;
  margin-top: 24px;
}
.acc_group2 dt a span:nth-child(3) {
  display: block;
  float: left;
  width: calc(100% - 100px);
  font-family: "Noto Sans KR";
  font-weight: 500;
  line-height: 24px;
  font-size: 24px;
  color: #333;
  margin-top: 12px;
}
.acc_group2 dt a:hover span:nth-child(3),
.acc_group dt a span:nth-child(3).on {
  color: #28b2a5;
}
.acc_group2 dd {
  width: 100%;
  float: left;
  border: 1px solid #e5e5e5;
  border-top: 0;
  background: #f6fafd;
  padding: 20px 25px 20px 65px;
  position: relative;
}
.acc_group2 dd {
  display: none;
}
.acc_group2 ul li {
  line-height: 26px;
}
.acc_group2.nostyle2:before {
  position: relative;
  height: 0;
}
.acc_group2.nostyle2 dt a {
  min-height: 80px;
  position: relative;
}
.acc_group2.nostyle2 dt a strong {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-weight: 500;
  font-size: 20px;
  color: #333;
  height: 30px;
  line-height: 30px;
  padding-left: 40px;
}
.acc_group2 dt a.on {
  background: url("../../../images/prouductImg/car/bg_acc_off.gif") no-repeat
    right center;
}
.acc_group2 dt a:hover strong {
  color: #28b2a5;
  text-decoration: none;
} /*2019-02-15 underline 고객요구사항반영*/
.acc_group2 dt a:hover strong,
.acc_group2 dt a strong.on {
  color: #28b2a5;
}
.acc_group2 i.qu {
  font-family: "roboto";
  font-size: 16px;
  font-style: normal;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #6382b9;
  color: #fff;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.acc_group2 i.an {
  font-family: "roboto";
  font-size: 16px;
  font-style: normal;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #c0616d;
  color: #fff;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
  float: left;
  margin-left: -45px;
}

.text_cont_box p {
  line-height: 22px;
}
.text_cont_box .tcb_p0 {
  margin-top: 30px;
  font-size: 18px;
  line-height: 26px;
}
.text_cont_box .tcb_p1 {
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
}
.text_cont_box .tcb_p2 {
  margin-top: 20px;
  font-size: 14px;
  padding-left: 12px;
}
.text_cont_box .tcb_p2_sub {
  margin-top: 20px;
  font-size: 14px;
  padding-left: 20px;
}
.text_cont_box .tcb_p2.top {
  margin-top: 30px;
}
.text_cont_box .tcb_p3 {
  font-size: 14px;
  margin-top: 5px;
}
.text_cont_box ul li.tcb_icon1,
.tcb_icon1 {
  padding-left: 12px;
}
.text_cont_box ul li.tcb_icon1:before,
.tcb_icon1:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: 0;
  top: 10px;
  background: #333;
}

.feature_108 {
  background: url("../../../images/prouductImg/carDriverDirect/bg_feature_108.png")
    no-repeat center top;
}

.section_box100 {
  float: left;
  width: 100%;
  padding-top: 100px;
  position: relative;
  margin-top: 1px;
}
.section_box0 {
  float: left;
  width: 100%;
  margin-top: 80px;
}
.section_box1 {
  float: left;
  width: 100%;
  margin-top: 50px;
}
.set_box input,
.set_box select,
.set_box button {
  float: left;
}

.tel_set {
  max-width: 290px;
}
.tel_set select {
  width: 34%;
}
.tel_set input {
  width: calc(33% - 20px);
}
.c_cyan {
  color: #27b2a5 !important;
}
.mt95 {
  margin-top: 95px !important;
}
.lh50 {
  line-height: 50px !important;
}
.mt0 {
  margin-top: 0 !important;
}
.disn {
  display: none !important;
}
.mt180 {
  margin-top: 180px !important;
}
.law_confirm {
  line-height: 50px;
  text-align: right;
}
.c_dddee4 {
  color: #dddee4 !important;
}
.fc_red {
  color: #ed1651 !important;
}

.btn_box {
  width: 100%;
  float: left;
  margin-top: 40px;
}

button {
  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
}
.btn_arrow {
  padding: 3px 20px 4px;
}

.button {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;

  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
}

user agent stylesheet li {
  text-align: -webkit-match-parent;
}
user agent stylesheet ul {
  list-style-type: disc;
}

.btn_arrow:after {
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f105";
  padding-left: 8px;
  font-size: 19px;
  color: #009591;
  vertical-align: -1px;
}
.fc_fff {
  color: #fff !important;
}
.f18 {
  font-size: 18px !important;
}

.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
}
.owl-carousel .owl-item,
.owl-carousel .owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  transition: height 0.5s ease-in-out;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.1s ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.top_gray_box {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background-color: #f9f9fb;
  min-height: 112px;
  padding: 30px 42px 30px 52px;
}
.top_gray_box .txt_list_01 {
  min-height: 50px;
  margin-top: 0;
  padding-left: 76px;
  background-image: url(../../../images/prouductImg/counselInquiry/ico_s_cst_new.png);
  background-repeat: no-repeat;
  background-position: left top;
}
.top_gray_box .txt_list_01 li {
  font-size: 15px;
  line-height: 22px;
  color: #555;
}
.txt_list_01 li:last-child,
.txt_list_02 li:last-child {
  margin-bottom: 0px;
}

.txt_list_01,
.txt_box_01 {
  width: 100%;
  float: left;
  margin-top: 16px;
}
.top_gray_box .apply_list {
  overflow: hidden;
  position: absolute;
  right: 42px;
  top: 50%;
  margin-top: -13px;
}
.table_width_list {
  width: 100%;
  float: left;
  padding: 0;
  font-size: 14px;
  border-top: 1px solid #a3a3a3;
  border-bottom: 1px solid #ddd;
  margin-top: 16px;
}
.table_width_list > ul {
  width: 100%;
  float: left;
}
.table_width_list li {
  width: 100%;
  float: left;
  position: relative;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
} /* 황금돼지 2019-03-05 디자인고도화 수정 background:#e7f3fd; */
.table_width_list li:first-child {
  border-top: none;
}
.table_width_list li > .title {
  position: absolute;
  width: 170px;
  color: #333;
  font-size: 15px;
  font-weight: 500;
  left: 0;
  top: 50%;
  padding: 10px 20px;
  transform: translateY(-50%);
  letter-spacing: -0.5px;
}
.table_width_list li > .data {
  position: relative;
  float: right;
  width: calc(100% - 170px);
  background: #fff;
  color: #555;
  padding: 10px 20px;
  line-height: 2.5;
  min-height: 54px;
  border-left: 1px solid #e5e5e5;
}
.table_width_list.he51 li > .data {
  min-height: 53px;
}
.table_width_list li > .data2 {
  border-top: 1px solid #ddd;
}
.table_width_list li > .data .read_txt {
  display: inline-block;
  line-height: 34px;
  font-size: 15px;
}
.table_width_list li > .data.calc300 {
  width: calc(100% - 300px);
}
.table_width_list li.half_l {
  width: 50%;
  float: left;
}
.table_width_list li.half_r {
  width: 50%;
  float: right;
}
.table_width_list li.half_l > .data {
  border-right: 1px solid #e5e5e5;
} /* 황금돼지 2019-03-05 디자인고도화 수정 */
.table_width_list li:nth-child(2).half_r {
  border-top: none;
}
.table_width_list li .btn_s + .btn_s {
  margin-left: 10px;
}
.table_width_list li.half_l.h50,
.table_width_list li.half_l.h51,
.table_width_list li.half_r.h50,
.table_width_list li.half_r.h51 {
  height: 54px !important;
}
.table_width_list input,
.table_width_list select {
  width: 100%;
  float: left;
}
.table_width_list .btn {
  float: left;
}

.bd_radius0 {
  border-radius: 0 !important;
}

.h230 {
  height: 230px !important;
}
caption {
  display: table-caption;
  text-align: -webkit-center;
}

.page_wrap {
  overflow: hidden;
}
.product_visual_slide {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: "Roboto", "Noto Sans KR";
  margin-top: 40px;
}

.product_youtube {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: "Roboto", "Noto Sans KR";
  margin-top: 40px;
}
.product_visual_wrap {
  /* position: relative; */
  width: 100%;
  height: 480px;
  padding-right: calc((100% - 960px) / 2);
  padding-left: calc((100% - 960px) / 2);
  background: #f7f7f7
    url(../../../images/prouductImg/car/img-prod-visual-00.png) no-repeat;
}
.inside {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  letter-spacing: -0.08em;
  font-family: "Roboto", "Noto Sans KR";
  margin-top: 40px;
}
.inside .item {
  width: 360px;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  background: #e1ffef;
  border-radius: 15px;
  box-shadow: 0 0 10px 5px #00000012;
  justify-content: space-evenly;
}
.btn_area {
  margin: 10px 0 30px 0;
  display: block;
  background-color: #fafafa;
  border: 1px solid #d8d8d8;
  border-radius: 7px;
}
.bohum .eco_point_box li dl dd {
  padding: 22px 30px;
  display: flex;
  font-size: 20px;
  color: #555;
  background: #fff;
  border-radius: 0 0 15px 15px;
}

.msg_box1 {
  position: relative;
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 13px;
  padding-left: 10px;
  line-height: 13px;
}
.msg_box1:before {
  content: "*";
  position: absolute;
  left: 0;
  top: 2px;
}
.msg_box1.tar:before {
  content: "";
}

#visual_box.visual_402 {
  background: url("../../../images/prouductImg/travelLeisure/bg_visual_402.jpg")
    no-repeat center top;
}
.feature_402 {
  background: url("../../../images/prouductImg/travelLeisure/bg_feature_402.jpg")
    no-repeat center top;
}
